{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}
{% endblock %}
{% block body %}

<main>
    <div class="signinForm">
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %} {{ form|crispy }}
            <div class="oauth">
                <p>Sign Up</p>
                <a href="{% provider_login_url 'google' %}"><i class="fa fa-3x fa-google"></i></a>
                <p>OR</p>
            </div>
            <div class="inputSignin">
                <input type="email" id="email" placeholder="Username or Email">
                <input type="password" id="password" placeholder="Password">
                <div class="loginButton">
                    <a href="#" class="login">Log in</a>
                </div>
                <div class="links">
                    <a href="{% url 'account_reset_password' %}" class="forgot">Forgot Password?</a>
                    <a href="#" class="create">Create New Account</a>
                </div>
        </form>
    </div>
    </div>

</main>

{% endblock body %}