{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
{% load crispy_forms_tags %}
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'app/rs.css'%}">
<style>
    body{
        background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
        background-repeat: no-repeat;
        background-size: cover;
   
    }
</style>
{% endblock %}

{% block title %}
Confirmation
{% endblock %}

{% block body %}
<div class="text-center container-fluid" style="margin-top: 10%;color: ghostwhite;font-size: 25px;background-color:rgba(108, 122, 137, 0.2);height: 50px;">
    <p style="padding-top: 3px;">An email has been sent with instructions to reset your password</p> 
</div>
    
{% endblock %}