{% extends "userapp/layout.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Oxygen&display=swap" rel="stylesheet">
<title>
  Sales Page - Two Wheelers
</title>
<style>
  html {
    scroll-behavior: smooth;
  }
  
  input {
    background-color: rgba(232, 236, 241, 1);
    height: 40px;
    font-size: 25px;
    border-radius: 10px;
  }

  .card-title {
    font-family: 'Oxygen', sans-serif;
  }

  .bottom {
    background-color: rgba(191, 191, 191, 0.6);
    border-radius: 20px 20px 0px 0px;
    padding: 15px;
    padding-bottom: 10px;

  }
  .up{
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
{% block body %}
<html>
<div class="image-fluid" style="background-image: linear-gradient(to bottom right, rgb(0, 81, 255), rgb(0, 255, 136));">
  <br><br><br>
  <h1 class="text-center" id="top">Two Wheelers</h1>
  <p class="text-center">____________________________________________________________</p>
  <br>
  <h2 class="text-center mb-3">Manufacturers</h2>
  
  <div class="container-fluid text-center bg-secondary">
    <!--nav class="navbar navbar-expand-lg navbar-info bg-secondary text-center"-->
      <div>
        <a href="#Hero" class="btn btn-dark ml-3 mr-3 up">Hero</a>
        <a href="#Indus" class="btn btn-dark ml-3 mr-3 up">Indus</a>
        <a href="#Avon" class="btn btn-dark ml-3 mr-3 up">Avon</a>
        <a href="#Okinawa" class="btn btn-dark ml-3 mr-3 up">Okinawa</a>
        <a href="#Palatino" class="btn btn-dark ml-3 mr-3 up">Palatino</a>
        <a href="#Lohia" class="btn btn-dark ml-3 mr-3 up">Lohia</a>
        <a href="#Tork" class="btn btn-dark ml-3 mr-3 up">Tork</a>
        <a href="#Ather" class="btn btn-dark ml-3 mr-3 up">Ather</a>
        <a href="#Revolt" class="btn btn-dark ml-3 mr-3 up">Revolt</a>
      </div>
    <!--/nav-->
  </div>

  <br>
  <!-- hero -->
  <div" id="full">
    <h3 class="text-center" id="Hero">Hero Moto Corp.</h3>
    <br><br>
    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="margin-top: 20px;"
          src="https://imgd.aeplcdn.com/1200x900/bw/models/hero-electric-optima-lead-acid20200104210309.jpg"
          height="196px" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric Optima Plus</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 70 km per Charge</p>
            <p><b>Price:</b> ₹ 42,190</p>
            <p><b>Speed:</b> 40 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="https://heroelectric.in/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="margin-top: 20px;"
          src="https://imgd.aeplcdn.com/360x202/bw/models/hero-electric-cruz-standard-744.jpg?20190103151915&q=85"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric Cruz</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 70 km per Charge</p>
            <p><b>Price:</b> ₹ 56,000</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="https://heroelectric.in/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top"
          src="https://bd.gaadicdn.com/processedimages/hero-motocorp/hero-motocorp-dash/source/m_dash_11572850422.jpg?tr=w-439,e-sharpen"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric Dash</b></h4>
          <div class="bottom" style="margin-top: -20px;">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 50,000</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 4 hours</p>
            <a href="https://heroelectric.in/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="height: 300px;width: 300px;"
          src="https://img.indianautosblog.com/2018/02/Hero-Electric-AXLHE-20-press-front-right-quarter.png"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric AXLHE-20</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 110 km per Charge</p>
            <p><b>Price:</b> ₹ 55,000</p>
            <p><b>Speed:</b> 85 km/hr</p>
            <p><b>Engine Power:</b> 6000 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="https://heroelectric.in/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top"
          src="https://imgd.aeplcdn.com/1280x720/bw/models/hero-electric-maxi-standard-746.jpg?20190103151915&q=80"
          height="300px" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric Maxi</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 70 km per Charge</p>
            <p><b>Price:</b> ₹ 32,490</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 0.33 BHP</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="https://heroelectric.in/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="height: 300px;width: 250px;margin-left: 25px;"
          src="https://heroelectric.in/wp-content/uploads/2018/10/Optima-hs500_blue_3-4-right-view-1.png"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric Optima E5</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 55 km per Charge</p>
            <p><b>Price:</b> ₹ 61,866</p>
            <p><b>Speed:</b> 37 km/hr</p>
            <p><b>Engine Power:</b> 550 - 1200 W</p>
            <p><b>Charge Time:</b> 4 - 5 hours</p>
            <a href="https://heroelectric.in/optima-1/" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="height:300px;width:300px"
          src="https://heroelectric.in/wp-content/uploads/2018/10/N1.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric NYX E5</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 65,990</p>
            <p><b>Speed:</b> 40 km/hr</p>
            <p><b>Engine Power:</b> 600 - 1200 W</p>
            <p><b>Charge Time:</b> 4 hours</p>
            <a href="https://heroelectric.in/nyx-2/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="height:300px;width:300px"
          src="https://heroelectric.in/wp-content/uploads/2020/04/Photon_silver_500x500.png" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Hero Electric Photon 48V</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 80 km per Charge</p>
            <p><b>Price:</b> ₹ 65,464</p>
            <p><b>Speed:</b> 45 km/hr</p>
            <p><b>Engine Power:</b> 1200 - 1800 W</p>
            <p><b>Charge Time:</b> 4 to 5 hours</p>
            <a href="https://heroelectric.in/photon/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 22rem;">
        <img class="card-img-top" style="padding-top:30px;"
          src=" https://heroelectric.in/wp-content/uploads/2018/10/Flash-hs500_silver_right-side-view12-2.png "
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center" style="padding-top:30px;"><b>Hero Electric Flash</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 65 km per Charge</p>
            <p><b>Price:</b> ₹ 39,990</p>
            <p><b>Speed:</b> 25 - 40 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 4 hours</p>
            <a href="https://heroelectric.in/flash_e2_la/" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- end hero -->
    <!-- Indus -->
    <br><br>
    <p class="text-center" id="Indus">____________________________________________________________</p>
    <h3 class="text-center">Indus</h3>
    <br><br>
    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="height: 225px;width: 300px;margin-left:70px;"
          src="http://yobykes.in/wp-content/uploads/2018/08/BlueGlossyColor-.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Indus Yo Drift</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 75 km per Charge</p>
            <p><b>Price:</b> ₹ 50,171</p>
            <p><b>Speed:</b> 55 km/hr</p>
            <p><b>Engine Power:</b> 1000 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://yobykes.in/yo-drift/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="margin-top:30px;" src="http://yobykes.in/wp-content/uploads/2016/07/Xplor.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Indus Yo Xplor</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 37,534</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 750 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://yobykes.in/yo-xplor/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="height: 225px;width: 300px;margin-left: 50px;"
          src="http://yobykes.in/wp-content/uploads/2018/03/blue_edge.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Indus Yo Edge</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 75 km per Charge</p>
            <p><b>Price:</b> ₹ 45,341</p>
            <p><b>Speed:</b> 45 km/hr</p>
            <p><b>Engine Power:</b> 750 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://yobykes.in/yo-edge/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="margin-top:30px;"
          src="http://yobykes.in/wp-content/uploads/2016/07/electron.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Indus Yo Electron</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 70 km per Charge</p>
            <p><b>Price:</b> ₹ 34,463</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 750 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://yobykes.in/yo-electron/" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- end Indus -->

    <!-- avon -->
    <br><br>
    <p class="text-center" id="Avon">____________________________________________________________</p>
    <h3 class="text-center">Avon</h3>
    <br><br>
    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top"
          src="https://www.avoncycles.com/images/ProductImages/large/e-scoot504-2qT1576644430.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Avon E Scoot</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 65 km per Charge</p>
            <p><b>Price:</b> ₹ 41,554</p>
            <p><b>Speed:</b> 24 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="https://www.avoncycles.com/product/e-scoot-504" target="_blank"
              class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" src="https://www.avoncycles.com/images/ProductImages/large/e-star-6wm1576647370.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Avon E Star</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 65 km per Charge</p>
            <p><b>Price:</b> ₹ 60,000</p>
            <p><b>Speed:</b> 55 km/hr</p>
            <p><b>Engine Power:</b> 1000 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="https://www.avoncycles.com/product/e-star" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="height: 250px;width: 300px;margin-left: 50px;"
          src="https://bd.gaadicdn.com/processedimages/avon/avon-e-bike/source/avon-e-bike_1.jpg?tr=w-439,e-sharpen"
          height="287px" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Avon E Bike</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 40 km per Charge</p>
            <p><b>Price:</b> ₹ 12,789</p>
            <p><b>Speed:</b> 20 km/hr</p>
            <p><b>Engine Power:</b> 137 W</p>
            <p><b>Charge Time:</b> 4 hours</p>
            <a href="https://www.avoncycles.com/product" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="height: 250px;"
          src="https://www.avoncycles.com/images/ProductImages/large/E-litedx-WdW1576646451.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Avon E Lite</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 50 km per Charge</p>
            <p><b>Price:</b> ₹ 25,430</p>
            <p><b>Speed:</b> 24 km/hr</p>
            <p><b>Engine Power:</b> 232 W</p>
            <p><b>Charge Time:</b> 4 to 8 hours</p>
            <a href="https://www.avoncycles.com/product/e-litedx" target="_blank"
              class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
    </div>

    <br>
    <!-- end avon -->
    <!-- Okinawa -->
    <br><br>
    <p class="text-center" id="Okinawa">____________________________________________________________</p>
    <h3 class="text-center">Okinawa</h3>
    <br><br>
    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="height: 300px;width: 350px;margin-left: 30px;"
          src="http://yobykes.in/wp-content/uploads/2018/08/BlueGlossyColor-.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Okinawa i-Praise</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 180 km per Charge</p>
            <p><b>Price:</b> ₹ 1,23,000</p>
            <p><b>Speed:</b> 75 km/hr</p>
            <p><b>Engine Power:</b> 2500 W</p>
            <p><b>Charge Time:</b> 2 to 3 hours</p>
            <a href="https://okinawascooters.com/ipraise/" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top" style="height: 300px;width: 350px;margin-left: 30px;"
          src="http://yobykes.in/wp-content/uploads/2018/08/BlueGlossyColor-.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Okinawa Ridge</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 80 km per Charge</p>
            <p><b>Price:</b> ₹ 47,980</p>
            <p><b>Speed:</b> 55 km/hr</p>
            <p><b>Engine Power:</b> 800 W</p>
            <p><b>Charge Time:</b> 4 to 6 hours</p>
            <a href="https://okinawascooters.com/ridge-scooter/" target="_blank"
              class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- end Okinawa -->
    <!-- Palatino -->
    <br><br>
    <p class="text-center" id="Palatino">____________________________________________________________</p>
    <h3 class="text-center">Palatino</h3>
    <br><br>
    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top"
          src="https://bd.gaadicdn.com/processedimages/palatino/palatino-ryan/source/m_ryan_11540285629.jpg?tr=w-360,e-sharpen"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Palatino Ryan</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 38,999</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://www.palatino.in/ryan.aspx" target="_blank" class="btn btn-primary text-center">Know More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top"
          src="https://bd.gaadicdn.com/processedimages/palatino/palatino-princess/source/m_princess_11540285563.jpg?tr=w-360,e-sharpen"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Palatino Princess</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 38,999</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://www.palatino.in/princess.aspx" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="container row ml-auto mr-auto">
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top"
          src="https://bd.gaadicdn.com/processedimages/palatino/palatino-spyker/source/m_spyker_11540285604.jpg?tr=w-360,e-sharpen"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Palatino Spyker</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 38,999</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://www.palatino.in/spyker.aspx" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
      </div>
      <div class="card ml-auto mr-auto" style="width: 27rem;">
        <img class="card-img-top"
          src="https://bd.gaadicdn.com/processedimages/palatino/palatino-sunshine/source/m_sunshine_11540285522.jpg?tr=w-360,e-sharpen"
          alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Palatino Sunshine</b></h4>
          <div class="bottom">
            <p><b>Range:</b> 60 km per Charge</p>
            <p><b>Price:</b> ₹ 38,999</p>
            <p><b>Speed:</b> 25 km/hr</p>
            <p><b>Engine Power:</b> 250 W</p>
            <p><b>Charge Time:</b> 6 to 8 hours</p>
            <a href="http://www.palatino.in/sunshine.aspx" target="_blank" class="btn btn-primary text-center">Know
              More</a>
          </div>
        </div>
        </div>
      </div>
        <br>
        <!-- end Palatino -->
        
        
              
              <!-- Lohia -->
              <br><br>
              <p class="text-center" id="Lohia">____________________________________________________________</p>
              <h3 class="text-center">Lohia</h3>
              <br><br>
              <div class="container row ml-auto mr-auto">
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top"
                    src="https://media.zigcdn.com/media/model/2019/Oct/oma-star-li-right-side-view_600x400.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Lohia Oma Star Li</b></h4>
                    <div class="bottom">
                      <p><b>Range:</b> 60 km per Charge</p>
                      <p><b>Price:</b> ₹ 51,750</p>
                      <p><b>Speed:</b> 25 km/hr</p>
                      <p><b>Engine Power:</b> 250 W</p>
                      <p><b>Charge Time:</b> 3 hours</p>
                      <a href="https://www.lohiaauto.com/omastar-li.php" target="_blank"
                        class="btn btn-primary text-center">Know More</a>
                    </div>
                  </div>
                </div>
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top"
                    src="https://media.zigcdn.com/media/model/2019/Oct/oma-star-right-side-view_600x400.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Lohia Oma Star</b></h4>
                    <div class="bottom">
                      <p><b>Range:</b> 60 km per Charge</p>
                      <p><b>Price:</b> ₹ 45,368</p>
                      <p><b>Speed:</b> 25 km/hr</p>
                      <p><b>Engine Power:</b> 250 W</p>
                      <p><b>Charge Time:</b> 6 to 8 hours</p>
                      <a href="https://www.lohiaauto.com/omastar.php" target="_blank"
                        class="btn btn-primary text-center">Know More</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- end Lohia -->
              <!-- Tork -->
              <br><br>
              <p class="text-center" id="Tork">____________________________________________________________</p>
              <h3 class="text-center">Tork</h3>
              <br><br>
              <div class="container row ml-auto mr-auto">
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top"
                    src="https://imgd.aeplcdn.com/1280x720/bw/models/tork-t6x.jpg?20190103151915&q=80"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Tork T6X</b></h4>

                    <div class="bottom">
                      <p><b>Range:</b> 100 km per Charge</p>
                      <p><b>Price:</b> ₹ 1,25,000</p>
                      <p><b>Speed:</b> 100 km/hr</p>
                      <p><b>Engine Power:</b> 6 kW</p>
                      <p><b>Charge Time:</b> 80 % in 1 hour</p>
                      <a href="https://torkmotors.com/" target="_blank" class="btn btn-primary text-center">Know
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- end Tork -->
              <!-- Ather -->
              <br><br>
              <p class="text-center" id="Ather">____________________________________________________________</p>
              <h3 class="text-center">Ather</h3>
              <br><br>
              <div class="container row ml-auto mr-auto">
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top" src="https://www.atherenergy.com/images/ride/bannerTrans@2x_opti.png"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Ather 450</b></h4>
                    <div class="bottom">
                      <p><b>Range:</b> 55 - 75 km per Charge</p>
                      <p><b>Price:</b> ₹ 1,22,647</p>
                      <p><b>Speed:</b> 80 km/hr</p>
                      <p><b>Engine Power:</b> 5.4 kW</p>
                      <p><b>Charge Time:</b> 4 hours</p>
                      <a href="https://www.atherenergy.com/450" target="_blank" class="btn btn-primary text-center">Know
                        More</a>
                    </div>
                  </div>
                </div>
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top" src="https://www.atherenergy.com/images/ride/bannerTrans@2x_opti.png"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Ather 450x</b></h4>
                    <div class="bottom">
                      <p><b>Range:</b> 60 km per Charge</p>
                      <p><b>Price:</b> ₹ 1,10,647</p>
                      <p><b>Speed:</b> 70 km/hr</p>
                      <p><b>Engine Power:</b> 1.92 kW</p>
                      <p><b>Charge Time:</b> 2 - 3 hours</p>
                      <a href="https://www.atherenergy.com/" target="_blank" class="btn btn-primary text-center">Know
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- end Ather -->
              <!-- revolt -->
              <br><br>
              <p class="text-center" id="Revolt">____________________________________________________________</p>
              <h3 class="text-center">Revolt</h3>
              <br><br>
              <div class="container row ml-auto mr-auto">
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top"
                    src="https://cdn.revoltmotors.com/assets/images/360-gallery/rv400/rebel-red/1.png"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Revolt RV400</b></h4>
                    <div class="bottom">
                      <p><b>Range:</b> 150 km per Charge</p>
                      <p><b>Price:</b> ₹ 98,999</p>
                      <p><b>Speed:</b> 85 km/hr</p>
                      <p><b>Engine Power:</b> 5000 W</p>
                      <p><b>Charge Time:</b> 3 to 4.5 hours</p>
                      <a href="https://www.revoltmotors.com/" target="_blank" class="btn btn-primary text-center">Know
                        More</a>
                    </div>
                  </div>
                </div>
                <div class="card ml-auto mr-auto" style="width: 27rem;">
                  <img class="card-img-top"
                    src="https://cdn.revoltmotors.com/assets/images/360-gallery/rv300/neon-black/1.png"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title mb-5 text-center"><b>Revolt RV300</b></h4>
                    <div class="bottom">
                      <p><b>Range:</b> 180 km per Charge</p>
                      <p><b>Price:</b> ₹ 84,999</p>
                      <p><b>Speed:</b> 65 km/hr</p>
                      <p><b>Engine Power:</b> 1500 W</p>
                      <p><b>Charge Time:</b> 3 to 4.2 hours</p>
                      <a href="https://www.revoltmotors.com/" target="_blank" class="btn btn-primary text-center">Know
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <!-- end Revolt -->
            </div>
            <br><br>
            <div class="text-center">
              <a href="#top" class="btn btn-primary text-center">Back to Top</a>
            </div>
            <br><br>

            <footer style="background-color:rgba(108, 122, 137, 1);">
              <section id=" footer ">
                <div class=" container ">
                  <div class=" row text-center text-xs-center text-sm-left text-md-left mb-0 pb-0 ">
                    <div class=" col-xs-12 col-sm-4 col-md-4 ">

                    </div>
                    <div class=" col-xs-12 col-sm-4 col-md-4 ">
                      <h3 class=" text-white text-center ">Quick links</h3>
                      <ul class="text-white list-unstyled quick-links text-center ">
                        <li><a href=" {% url 'index' %} "><span
                              style=" font-family:Trebuchet MS; font-size: 18px;color: azure; ">Home</span></a></li>
                        <li><a href=" javascript:void(); "><span
                              style=" font-family:Trebuchet MS; font-size: 18px;color: azure; ">About</span></a>
                        </li>
                        <li><a href=" {% url 'Why-Choose-EV' %} "><span
                              style=" font-family:Trebuchet MS; font-size: 18px ;color: azure;">Why
                              Choose
                              EV</span></a></li>
                        <li><a href=" {% url 'faqs' %} "><span
                              style=" font-family:Trebuchet MS; font-size: 18px;color: azure; ">FAQ</span></a>
                        </li>
                        <li><a href=" javascript:void(); "><span style=" font-family:Trebuchet MS; font-size: 18px;color: azure; ">Get
                              Started</span></a></li>
                        <li><a href=" javascript:void(); "><span
                              style=" font-family:Trebuchet MS; font-size: 18px;color: azure; ">Videos</span></a>
                        </li>
                      </ul>
                    </div>
                    <div class=" col-xs-12 col-sm-4 col-md-4 ">

                    </div>
                  </div>
                  <div class=" row " style=" padding-top:0px; ">
                    <div class=" col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-1 ">
                      <!--ul class=" list-unstyled list-inline social text-center " style=" text-align:center; ">
                        <li class=" list-inline-item "><a href=" javascript:void(); "><i
                              class=" fa fa-facebook "></i></a>
                        </li>
                        <li class=" list-inline-item "><a href=" javascript:void(); "><i
                              class=" fa fa-twitter "></i></a>
                        </li>
                        <li class=" list-inline-item "><a href=" javascript:void(); "><i
                              class=" fa fa-instagram "></i></a>
                        </li>
                        <li class=" list-inline-item "><a href=" javascript:void(); "><i
                              class=" fa fa-google-plus "></i></a>
                        </li>
                        <li class=" list-inline-item "><a href=" javascript:void(); "><i
                              class=" fa fa-envelope "></i></a>
                        </li>
                      </ul-->
                    </div>
                  </div>
                </div>
              </section>
            </footer>

</html>
{% endblock body %}