{% extends "userapp/layout.html" %} {% load static %} 
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>
    Sales Page - Four Wheelers
</title>
<style>
    html{
        scroll-behavior: smooth;
    }
</style>
{% endblock %} 
{% block body %}
<html>
<div class="image-fluid" style="background-image: linear-gradient(to bottom right, rgb(0, 81, 255), rgb(0, 255, 136));">
    <br><br><br>  
    <h1 class="text-center" id="top">Four Wheelers</h1>
    <br>
    <p class="text-center" >____________________________________________________________</p>
 <h2 class="text-center mb-3">Manufacturers</h2> 
<nav class="navbar navbar-expand-lg navbar-info bg-secondary text-center">
  <div class="mx-auto">
    <a href="#Mahindra" class="btn btn-dark ml-3 mr-3">Mahindra</a>
    <a href="#Hyundai" class="btn btn-dark ml-3 mr-3">Hyundai</a>
    <a href="#Tata" class="btn btn-dark ml-3 mr-3">Tata</a>
    <a href="#Others" class="btn btn-dark ml-3 mr-3">Others</a>
</div>
</nav>

 <!-- Mahindra -->
<br>
<h3 class="text-center" id="Mahindra">Mahindra</h3>
<br><br>
<div class="container row ml-auto mr-auto">
<div class="card ml-auto mr-auto" style="width: 27rem;">
    <img class="card-img-top" src="https://www.mahindraelectric.com/images/everito-lead-banner-march-2020.jpg?v=123" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title mb-5 text-center"><b>Mahindra e-Verito</b></h4>
      <p><b>Range:</b> 110 km per Charge</p>
      <p><b>Price:</b> ₹ 9.5 Lac</p>
      <p><b>Horse Power:</b> 41 W</p>
      <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.mahindraelectric.com/vehicles/everito/" target="_blank" class="btn btn-primary text-center">Know More</a>
    </div>
  </div>
  <div class="card ml-auto mr-auto" style="width: 27rem;">
    <img class="card-img-top" src="https://www.mahindraelectric.com/images/me-e2oplus-landing-banner-2020.jpg?v=123" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title mb-5 text-center"><b>Mahindra e2o</b></h4>
      <p><b>Range:</b> 90 km per Charge</p>
      <p><b>Price:</b> ₹ 5.71 Lac</p>
      <p><b>Horse Power:</b> 40 W</p>
      <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.mahindraelectric.com/vehicles/e2oPlus/" target="_blank" class="btn btn-primary text-center">Know More</a>
    </div>
  </div>
</div>
<br>

<div class="container row ml-auto mr-auto">
<div class="card ml-auto mr-auto" style="width: 27rem;">
    <img class="card-img-top" src="https://www.mahindraxuv500.com/images/360/new/crimson-red/360_ext_crimson-red00.png?v=2" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title mb-5 text-center"><b>Mahindra XUV300 Electric</b></h4>
      <p><b>Range:</b> 350 km per Charge</p>
      <p><b>Price:</b> ₹ 15 - 20 Lac</p>
      <p><b>Horse Power:</b> 110 W</p>
      <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.mahindraxuv500.com/" target="_blank" class="btn btn-primary text-center">Know More</a>
    </div>
  </div>
  <div class="card ml-auto mr-auto" style="width: 27rem;">
    <img class="card-img-top" src="https://www.mahindrakuv100.com/images/more-suv.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title mb-5 text-center"><b>Mahindra eKUV100</b></h4>
      <p><b>Range:</b> 140 km per Charge</p>
      <p><b>Price:</b> ₹ 10 Lac</p>
      <p><b>Horse Power:</b> 77 W</p>
      <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.mahindrakuv100.com/#spotlight" target="_blank" class="btn btn-primary text-center">Know More</a>
    </div>
  </div>
</div>
<!-- end Mahindra -->
<!-- Hyundai -->
<br><br>
<p class="text-center" id="Hyundai">____________________________________________________________</p>
<h3 class="text-center">Hyundai</h3>
<br><br>
<div class="container row ml-auto mr-auto">
<div class="card ml-auto mr-auto" style="width: 27rem;">
    <img class="card-img-top" src="https://www.hyundai.com/content/dam/hyundai/in/en/data/find-a-car/Kona/pc/Hyundai_KONA_electric_main_KV_PC_1860x540_white_color_suv_electric_charging.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title mb-5 text-center"><b>Hyundai KONA Electric</b></h4>
      <p><b>Range:</b> 449 km per Charge</p>
      <p><b>Price:</b> ₹ 25.3 Lac</p>
      <p><b>Horse Power:</b> 147 W</p>
      <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.hyundai.com/in/en/find-a-car/kona-electric/highlights.html" target="_blank" class="btn btn-primary text-center">Know More</a>
    </div>
  </div>
  <div class="card ml-auto mr-auto" style="width: 27rem;">
    <img class="card-img-top" src="https://www.hyundai.com/content/dam/hyundai/in/en/data/find-a-car/Aura/Highlights/pc/Revised-Pc-MainKv.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title mb-5 text-center"><b>Hyundai Aura</b></h4>
      <p><b>Range:</b> 120 km per Charge</p>
      <p><b>Price:</b> ₹ 6 Lac</p>
      <p><b>Horse Power:</b> 81 W</p>
      <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.hyundai.com/in/en/find-a-car/aura/highlights.html?utm_source=Search&utm_medium=CPC&utm_campaign=AURA-launch-Jan-2020" target="_blank" class="btn btn-primary text-center">Know More</a>
    </div>
  </div>
</div>
<!-- end Hyundai -->
<!-- Tata -->
<br><br>
<p class="text-center" id="Tata">____________________________________________________________</p>
<h3 class="text-center">Tata</h3>
<br><br>
<div class="container row ml-auto mr-auto">
  <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://nexonev.tatamotors.com/wp-content/themes/tata-nexon/images/design/nexon-signature-teal-blue.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title mb-5 text-center"><b>Tata Tigor EV 2019</b></h4>
        <p><b>Range:</b> 200 km per Charge</p>
        <p><b>Price:</b> ₹ 9.17 Lac</p>
        <p><b>Horse Power:</b> 40 W</p>
        <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
        <a href="https://www.tatamotors.com/blog/tag/tigor-ev/" target="_blank" class="btn btn-primary text-center">Know More</a>
      </div>
    </div>
    <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://nexonev.tatamotors.com/wp-content/themes/tata-nexon/images/design/nexon-signature-teal-blue.png" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title mb-5 text-center"><b>Tata Nexon EV 2020</b></h4>
        <p><b>Range:</b> 300 km per Charge</p>
        <p><b>Price:</b> ₹ 15 Lac</p>
        <p><b>Horse Power:</b> 129 W</p>
        <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
         <a href="https://nexonev.tatamotors.com/" target="_blank" class="btn btn-primary text-center">Know More</a>
      </div>
    </div>
    <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://nexonev.tatamotors.com/wp-content/themes/tata-nexon/images/design/nexon-signature-teal-blue.png" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Tata Altroz</b></h4>
          <p><b>Range:</b> 250 km per Charge</p>
          <p><b>Price:</b> ₹ 5.59 Lac</p>
          <p><b>Horse Power:</b> 102 W</p>
          <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
             <a href="https://nexonev.tatamotors.com/" class="btn btn-primary text-center">Know More</a>
        </div>
    </div>
</div>
<!-- end Tata -->
<!-- other -->
<br><br>
<p class="text-center" id="Others">____________________________________________________________</p>
<h3 class="text-center">Others</h3>
<br><br>
<div class="container row ml-auto mr-auto">
  <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://www.kia.com/content/dam/kwcms/kme/uk/en/assets/vehicles/all-new-soul-ev/highlight/SoulEV_Hero_Desktop_1920x1100__1_.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title mb-5 text-center"><b>KIA Soul EV</b></h4>
        <p><b>Range:</b> 212 km per Charge</p>
        <p><b>Price:</b> ₹ 25 Lac</p>
        <p><b>Horse Power:</b> 190 W</p>
        <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.kia.com/uk/new-cars/all-new-soul-ev/" target="_blank" class="btn btn-primary text-center">Know More</a>
      </div>
    </div>
    <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://www.nissanusa.com/content/dam/Nissan/us/vehicles/leaf/2020/overview/2020-nissan-leaf.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title mb-5 text-center"><b>Nissan Leaf</b></h4>
        <p><b>Range:</b> 400 km per Charge</p>
        <p><b>Price:</b> ₹ 30 Lac</p>
        <p><b>Horse Power:</b> 150 W</p>
        <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.nissanusa.com/vehicles/electric-cars/leaf.html" target="_blank" class="btn btn-primary text-center">Know More</a>
      </div>
    </div>
    <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://www.nissanusa.com/content/dam/Nissan/us/vehicles/leaf/2020/overview/2020-nissan-leaf.jpg" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>MG eZS</b></h4>
          <p><b>Range:</b> 300 km per Charge</p>
          <p><b>Price:</b> ₹ 25 Lac</p>
          <p><b>Horse Power:</b> 150 W</p>
          <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
          <a href="https://www.mgmotor.co.in/media-center/newsroom/mgezs-pure-electric-suv-unveiled-globally-ahead-of-india-launch" target="_blank" class="btn btn-primary text-center">Know More</a>
        </div>
    </div>
</div>
<br>
<div class="container row ml-auto mr-auto">
  <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="{% static 'userapp/6.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title mb-5 text-center"><b>Ford Aspire EV</b></h4>
        <p><b>Range:</b> 150 km per Charge</p>
        <p><b>Price:</b> ₹ 15 Lac</p>
        <p><b>Horse Power:</b> 82 W</p>
        <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="#" class="btn btn-primary text-center">Know More</a>
      </div>
    </div>
    <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Renault/Renault-Kwid-EV/6214/1555414583232/front-left-side-47.jpg?tr=w-456,e-sharpen" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title mb-5 text-center"><b>Renault City K-ZE</b></h4>
        <p><b>Range:</b> 250 km per Charge</p>
        <p><b>Price:</b> ₹ 10 Lac</p>
        <p><b>Horse Power:</b> 43 W</p>
        <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
      <a href="https://www.cardekho.com/renault/k-ze" target="_blank" class="btn btn-primary text-center">Know More</a>
      </div>
    </div>
    <div class="card ml-auto mr-auto" style="width: 22rem;">
      <img class="card-img-top" src="https://cdn.autoportal.com/img/new-cars-gallery/marutisuzuki/wagon-r-ev/photo34/marutisuzuki-wagon-r-ev-a038ad9b.jpg" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-title mb-5 text-center"><b>Maruti Suzuki WagonR EV</b></h4>
          <p><b>Range:</b> 90 km per Charge</p>
          <p><b>Price:</b> ₹ 10 Lac</p>
          <p><b>Horse Power:</b> 30 W</p>
          <p><b>Battery Type:</b> Lithium-ion polymer battery</p>
          <a href="https://autoportal.com/newcars/marutisuzuki/wagon-r-ev/" target="_blank" class="btn btn-primary text-center">Know More</a>
        </div>
    </div>
</div>
<!-- end other -->

<br><br>
<div class="text-center">
  <a href="#top" class="btn btn-primary text-center">Back to Top</a>
</div>  
<br><br>

<footer>
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left mb-0 pb-0">
                <div class="col-xs-12 col-sm-4 col-md-4">

                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h3 class="text-white text-center">Quick links</h3>
                    <ul class="list-unstyled quick-links text-center">
                        <li><a href="{% url 'index' %}"><span
                                    style="font-family:Trebuchet MS; font-size: 18px">Home</span></a></li>
                        <li><a href="javascript:void();"><span
                                    style="font-family:Trebuchet MS; font-size: 18px">About</span></a></li>
                        <li><a href="{% url 'Why-Choose-EV' %}"><span
                            style="font-family:Trebuchet MS; font-size: 18px">Why Choose EV</span></a></li>
                        <li><a href="{% url 'faqs' %}"><span
                                    style="font-family:Trebuchet MS; font-size: 18px">FAQ</span></a></li>
                        <li><a href="javascript:void();"><span style="font-family:Trebuchet MS; font-size: 18px">Get
                                    Started</span></a></li>
                        <li><a href="javascript:void();"><span
                                    style="font-family:Trebuchet MS; font-size: 18px">Videos</span></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">

                </div>
            </div>
            <div class="row" style="padding-top:0px;">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-1">
                    <ul class="list-unstyled list-inline social text-center" style="text-align:center;">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
</html>
{% endblock body %}