{% extends 'userapp/layout.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
  .card-body{
    height : 550px;
  }

  #map
  {
    height: 100%;
  }
  
</style>
{% endblock head %}

{% block title %}
Add Charging Station
{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col ml-10">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Charging Station</h5>                    
                    <form method="POST" enctype="multipart/form-data" id="form1" >
                        {% csrf_token %}
                        {{ stationform|crispy }}
                        <button type="submit" class="btn btn-info" onclick="submitloc()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col ml-10">
            <div class="card card-signin my-5">
                <span class="card-header cmap">
                    <h4 style="float: left;">Add Charging Station</h4>
                    <input type="text" class="form-control" style="float:right; width: 235px;" id="location-text-box"
                    placeholder="Enter place to search">
                    </span>
                <div class="card-body">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
<script>
    var finallat;
    var finallng;
    var location;
    document.getElementById('location-text-box').value = '';
    var map;
    var marker;
  
    function initMap() {
      var mapOptions = {
        zoom: 12
      };
      map = new google.maps.Map(document.getElementById('map'),
        mapOptions);
  
      // Get GEOLOCATION
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          var pos = new google.maps.LatLng(position.coords.latitude,
            position.coords.longitude);
  
          map.setCenter(pos);
          marker = new google.maps.Marker({
            position: pos,
            map: map,
            draggable: true
          });
        }, function () {
          handleNoGeolocation(true);
        });
      } else {
        // Browser doesn't support Geolocation
        handleNoGeolocation(false);
      }
  
      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }
  
        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };
  
        map.setCenter(options.position);
        marker = new google.maps.Marker({
          position: options.position,
          map: map,
          draggable: true
        });
  
      }
  
      // get places auto-complete when user type in location-text-box
      var input = /** @type {HTMLInputElement} */
        (
          document.getElementById('location-text-box'));
  
  
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.bindTo('bounds', map);
  
      var infowindow = new google.maps.InfoWindow();
      marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29),
        draggable: true
      });
  
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          return;
        }
  
        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17); // Why 17? Because it looks good.
        }
  
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
  
        var address = '';
        if (place.address_components) {
          address = [
            (place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
        }
  
      });
  
  
  
    }
  
  
    function submitloc() {
      //finallat = marker.position.lat();
      //finallng = marker.position.lng();
      //document.getElementById('id_lat').value = marker.position.lat();
      // round to 6 decimal places
      $('#id_lat').val((marker.position.lat().toFixed(6)));
      $('#id_lng').val((marker.position.lng().toFixed(6)));
      document.getElementById('form1').submit();
    }
  </script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Y9_KDeiRBLZorVqObm42FaX_XnAxJoY&libraries=places&callback=initMap"></script>
{% endblock %}