<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1849fb7a64.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Charging data</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{%  url 'index' %}" style="padding-left: 30px;" id="t">EV</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right ml-auto wh">
                <a class="nav-item nav-link" href="{% url 'index' %}"
                    style="padding-right: 15px ; color:black;">Home</a>
                <a class="nav-item nav-link" href="{% url 'account_login' %}"
                    style="padding-right: 15px ; color:black;">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}"
                    style="padding-right: 15px ; color:black;">Register</a>
                <a class="nav-item nav-link" href="#" style="padding-right: 15px ; color:black;">About</a>
               
            </div>
        </div>
    </nav>
    <h1 class="text-center" style="margin-top: 7%;font-family: 'Roboto';">Here goes the title</h1>
    <table class="container" style="margin-top: 3%;">
        <tr>
          <th>Car maodel</th>
          <th>In-time</th>
          <th>Out-time</th>
          <th>Consumption</th>
          <th>Charging Station</th>
        </tr>
        <tr>
          <td>Hero Photon 48V</td>
          <td>11:30:46</td>
          <td>13:16:05</td>
          <td>0.4 kWH</td>
          <td>New Sangavi</td>
        </tr>
        <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          <tr>
            <td>Hero Photon 48V</td>
            <td>11:30:46</td>
            <td>13:16:05</td>
            <td>0.4 kWH</td>
            <td>New Sangavi</td>
          </tr>
          
      </table>
      

</body>
</html>