{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}
{% block body %}

<div class="container">
    <h2>Find a Charge Pooler</h2>
    <p>Type place where you want to search in the input box below</p>  
    <input class="form-control" id="myInput" type="text" placeholder="Search for City or Region..">
    <br>
    <table class="table table-bordered table-striped", id="table01", style="display: none;">
      <thead>
        <tr>
          <th>Where</th>
          <th>Contact</th>
          <th>Normal Charger</th>
          <th>Fast Charger</th>
          <th>Cost per Kwh</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for chargepooler in chargepoolers %}
        <tr>
          <td>{{ chargepooler.local_area|title }}, {{ chargepooler.city|title }}</td>
          <td>{{ chargepooler.ph_no }}</td>
          <td>{{ chargepooler.normal_port }}</td>
          <td>{{ chargepooler.fast_port }}</td>
          <td>{{ chargepooler.cost }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
  

{% endblock body %}


{% block script %}
<script>

    $(document).ready(function(){
        
        $("#myInput").on("keyup", function() {
          if($(this).val().length==0)
            $("#table01").hide();
          else
          {
          $("#table01").show();
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        }
        });
      });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}