{% extends "userapp/dash_layout.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{%  static 'userapp/complaint_style.css' %}"> {% endblock %} {% block body %}

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-lg-9 ml-auto">
                    <div class="px-5 pb-3 pt-0 text-center">
                        <h2 class="text-center font">Mechanics</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-8 col-sm-12 ml-auto mb-4 ml-md-auto">
                            <div class="card" style="background-color:aquamarine;height:15em;">
                                <div class="card-body text-center">
                                    <h4>Pending Complaints</h4>
                                    <h2 style="font-size:6em;">{{count}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-12 ml-auto mb-4">
                            <div class="card" style="background-color:aquamarine;height:15em;">
                                <div class="card-body text-center">
                                    <h4>Solved<br> Complaints</h4>
                                    <h2 style="font-size:6em;">{{m.CompletedComplaints}}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-8 col-sm-12 ml-auto mb-4">
                            <div class="card" style="background-color:aquamarine;height:15em;">
                                <div class="card-body text-center">
                                    <h4>Total<br> Complaints</h4>
                                    <h2 style="font-size:6em;">{{total}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9 ml-auto">
                        <div class="px-5 pb-1 pt-2 m-4 text-center">
                            <h3 class="text-center font">Pending Complaint Details</h3>
                        </div>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table mb-4">
                                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">ChargingStation Name</th>
                                            <th scope="col">Details</th>
                                            <th scope="col">Contact No.</th>
                                            <th scope="col">To Visit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for a in d%}
                                        <tr>
                                            <th scope="row">{{a.CsSelect.id}}</th>
                                            <td>{{a.CsSelect.name}}</td>
                                            <td>
                                                <details>
                                                    <summary>Complaint</summary>
                                                    <b>Problem</b>
                                                    <p>{{a.Problem}}</p>
                                                    <b>Address</b>
                                                    <p>{{a.CsSelect.suburb}}</p>
                                                </details>
                                            </td>
                                            <td>{{a.ph}}</td>
                                            <form action="" method="POST">
                                                {% csrf_token %}
                                                <td><button type="submit" value="{{a.pk}}" name="visited" class="btn btn-success">Visited</button>
                                                </td>

                                            </form>
                                        </tr>
                                        {%endfor%}

                                    </tbody>
                            </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-9 ml-auto">
                            <div class="px-5 pb-1 pt-2 m-4 text-center">
                                <h4 class="text-center font">View Locations on map</h4>
                            </div>
                            <b>&emsp;&emsp;Checkout the Locations</b><br>
                            <div id="new">

                            </div>
                            <br>
                            <div class="col-sm-12">
                                <div class="container">
                                    <div class="main">
                                        <div class="row">
                                            <div class="col-sm-2">
                                                <ul class="nav nav-tabs" id="myTab">


                                                </ul>
                                                <div class="tab-content">

                                                </div>
                                            </div>

                                            <div class="col-sm-12" style="max-height:100%">
                                                <div id="map_canvas" style="height:250px; border: thin solid black;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</section>



</div>
</div>
<!-- partial -->

{% endblock body %} {% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Y9_KDeiRBLZorVqObm42FaX_XnAxJoY&">
</script>
<script>
    var marker;
    var map;
    var my_data = JSON.parse('{{ my_data|safe }}');
    console.log(my_data[0][2]);

    for (var i = 0; i < my_data.length; i++) {

        var str1 = "#link";
        var str2 = i;
        var a = document.createElement("a");
        a.innerHTML = '&emsp;&emsp;&emsp;';
        var text = document.createTextNode([i + 1] + "." + " " + my_data[i][2] + " " + my_data[i][3] + "  " + "  " + "  ");
        a.appendChild(text);
        // a.href="#rnd";
        a.id = str1.concat(str2);
        var x = my_data[i][0];
        var y = my_data[i][1];
        var passfoo = "myFunction(" + x + "," + y + ")";
        a.setAttribute("onclick", passfoo);
        a.setAttribute("data-toggle", "tab");
        var element = document.getElementById("new");
        element.appendChild(a);
        var x = document.createElement("br");
        a.appendChild(x);

    }


    function myFunction(x, y) {
        changeMarkerPos(x, y);
    }


    function initialize() {
        var styles = [{
            stylers: [{
                saturation: -100
            }]
        }];
        var styledMap = new google.maps.StyledMapType(styles, {
            name: "Styled Map"
        });
        var mapProp = {
            center: new google.maps.LatLng(19.261522, 75.194100),
            zoom: 13,
            panControl: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: false,
            overviewMapControl: false,
            rotateControl: true,
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), mapProp);

        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style')

        marker = new google.maps.Marker({
            position: new google.maps.LatLng(19.261522, 75.194100),
            animation: google.maps.Animation.DROP,
            icon: 'https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/location-24-32.png',
        });

        marker.setMap(map);
        map.panTo(marker.position);
    }

    function changeMarkerPos(lat, lon) {
        myLatLng = new google.maps.LatLng(lat, lon)
        marker.setPosition(myLatLng);
        map.panTo(myLatLng);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}