{% extends "userapp/layout.html" %} {% load static %} 
{% block head %}
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://npmcdn.com/flickity@2/dist/flickity.css'>
<link rel="stylesheet" href="{%  static 'userapp/complaint_style.css' %}">
{% endblock %}

{% block body %}
<p style="margin-top: 50px;"></p>
<body style="background-image: linear-gradient(#62C3C8, #37B9E9);"></body>
<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" id="Row1">
          <h3 class="card-title">Pending Complaints</h3>
          <p class="card-text" style="font-size:6em;text-align:center;margin-top:-20px">{{count}}</p>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="card">
        <div class="card-body" id="Row1">
          <h3 class="card-title">Complaints Solved</h3>
          <p class="card-text" style="font-size:6em;text-align:center;margin-top:-20px">{{m.CompletedComplaints}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" id="Row1">
          <h3 class="card-title">Total Complaints</h3>
          <p class="card-text" style="font-size:6em;text-align:center;margin-top:-20px">{{total}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <!-- <div class="table-wrapper-scroll-y my-custom-scrollbar"> -->

      <table class="table" id="Row2">
              <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <p>Pending Complaint Details</p>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">ChargingStation Name</th>
            <th scope="col">Details</th>
            <th scope="col">Contact No.</th>
            <th scope="col">To Visit</th>
          </tr>
        </thead>
        <tbody>
          {%for a in d%}
          <tr>
            <th scope="row">1</th>
            <td>{{a.CsSelect.name}}</td>
            <td><details>
              <summary>Complaint</summary>
              <b>Problem</b>
              <p>{{a.Problem}}</p>
              <b>Address</b>
              <p>{{a.CsSelect.suburb}}</p>
              </details></td>
            <td>{{a.ph}}</td>
            <form action="" method="POST">
              {% csrf_token %}
            <td><button type="submit" value="{{a.pk}}" name="visited" class="btn btn-success">Visited</button>
            </td>
    
              </form>
          </tr>
          {%endfor%}
          
        </tbody>
      </table>
    </div>
    <!--map-->
    <div class="col-sm-12">
      <div class="container">
        <div class="main">
          <div class="row">
            <div class="col-sm-2">
              <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a id="link1" href="#office" data-toggle="tab">Tab 1</a>
                </li>
                <li><a id="link2" href="#rnd" data-toggle="tab">Tab 2</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="office">
                   <h1>Contact 1</h1>
                   <h4>Address 1</h4>
                </div>
                <div class="tab-pane" id="rnd">
                   <h1>Contact 2</h1>
                   <h4>Address 2</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <div id="map_canvas" style="height:250px; border: thin solid black;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>  <!--map end-->
    

   <div class="col-sm-12">
      <div class="carousel" data-flickity='{ "groupCells": true }'>
        {%for ad in d%}
        <div class="carousel-cell"><p>{{ad.CsSelect.name}}<br>{{ad.CsSelect.suburb}}<br>click to see the directions</p></div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://npmcdn.com/flickity@2/dist/flickity.pkgd.js'></script>
  <script src='https://maps.googleapis.com/maps/api/js'></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Y9_KDeiRBLZorVqObm42FaX_XnAxJoY&callback=initMap">
    </script>
  <script  src="{%  static 'userapp/complaint_script.js' %}"></script>
{% endblock body %}
