{% extends "userapp/layout.html" %} {% load static %}
{% block head %}<title>EverythingEV</title>{% endblock head %}
{% block body %}

<main>
    <div class="front">
        <div class="text">
            <h1 class="heading">EverythingEV</h1>
            <p class="tagline">One stop solution for all your EV needs!</p>
        </div>
        <div class="art">
            <img src="{% static 'userapp/svg/front illustration.svg' %}" alt="concept art">
        </div>
    </div>
    <div class="service-row">
        <a href="{% url 'Why-Choose-EV' %}"><img src="{% static 'userapp/svg/why choose ev.svg' %}"
                alt="why choose ev"></a>
        <a href="{% url 'Charging-Station-CLV' %}"><img src="{% static 'userapp/svg/charging stations.svg' %}"
                alt="charging stations"></a>
        <a href="{% url 'Charge-Pooling' %}"><img src="{% static 'userapp/svg/Charge Pooling.svg' %}"
                alt="charge pooling"></a>
        <a href="{% url 'Route-Your-Way' %}"><img src="{% static 'userapp/svg/route your way.svg' %}"
                alt="route your way"></a>
        <a href="{% url 'savings-calculator' %}"><img src="{% static 'userapp/svg/savings calculator.svg' %}"
                alt="savings calculator"></a>
        <a href="{% url 'sales-page' %}"><img src="{% static 'userapp/svg/sales.svg' %}" alt="sales"></a>
    </div>
    <div class="banner-row">
        <div class="banner-grid">
            <section class="text">
                <h2>What if my car's battery goes down in the middle?<br>Are EVs high maintenance?</h2>
                <p>For these and a lot more questions,<br>head to our page, Why Choose EV.</p>
            </section>
            <img class="img1" src="{% static 'userapp/svg/why choose ev_art.svg' %}">
        </div>
        <div class="banner-grid">
            <img class="img2" src="{% static 'userapp/svg/charging stations_art.svg' %}">
            <section class="text">
                <h2>Wondering Where to charge your EV?</h2>
                <p>We got you covered!
                    Easily find all nearby charging stations and route there using
                    Charging Station section!
                    </p>
            </section>
        </div>
        <div class="banner-grid">
            <section class="text">
                <h2>Can't find charging stations nearby?</h2>
                <p>Maybe a friendly stranger with 'in-house charger'
                    can help you!
                    Our innovative feature Charge Pooling can help you
                    easily reach that person!</p>
            </section>
            <img class="img3" src="{% static 'userapp/svg/charge pooling_art.svg' %}">
        </div>
        <div class="banner-grid">
            <img class="img4" src="{% static 'userapp/svg/route your way_art.svg' %}">
            <section class="text">
                <h2>Planning a long trip with EV?
                    <br>Afraid that battery might doze off?</h2>
                <p>Route your way according to charging stations
                    in NO TIME!
                    Just visit Route Your Way and easily route according to
                    your car battery and charging stations!
                </p>
            </section>
        </div>
        <div class="banner-grid">
            <section class="text">
                <h2>Wanna know how much you will save
                    <br>when you switch to EV?</h2>
                <p>Go to Savings Calculator and find out easily!</p>
            </section>
            <img class="img3" src="{% static 'userapp/svg/charge pooling_art.svg' %}">
        </div>
        <div class="banner-grid">
            <img class="img6" src="{% static 'userapp/svg/sales_art.svg' %}">
            <section class="text">
                <h2>You've made up your mind.
                    You're gonna buy a new supercool EV!
                    <br>But where to look for one?</h2>
                <p>Go to sales, choose your EV. Its that simple!
                    You can find nearby sellers, and can also book a test ride!
                </p>
            </section>
        </div>
    </div>
</main>


<script>
    $(document).ready(function () {
        $('.menu-toggle').click(function () {
            $('.menu-toggle').toggleClass('active');
            $('nav').toggleClass('active');
        })
        var altertag = function () {
            var ww = document.body.clientWidth;
            if (ww < 592) {
                $('.art').empty();
            }
            else if (ww > 592) {
                $('.art').append("<img src='./img/front illustration.svg'>");
            }
        }
    })
</script>

{% endblock body %}