{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}


  {% endblock %}
{% block body %}
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <h3 class="heading">Faucibus porttitor metus</h3>
      <p>In nibh nullam egestas velit laoreet nullam elementum ipsum pharetra suscipit leo augue pretium felis nisl vitae ipsum curabitur quis libero.</p>
      <footer><a class="btn" href="#">Tristique vehicula</a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text"><a href="google.com">Charging Station</a></p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>
  </div>

{% endblock body %}