{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1849fb7a64.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{%  static 'userapp/stylelayout.css' %}">
    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>


<body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{%  url 'index' %}" style="padding-left: 30px;" id="t">EV</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right ml-auto wh">
                <a class="nav-item nav-link" href="{% url 'index' %}"
                    style="padding-right: 15px ; color:black;">Home</a>
                {% if user.is_authenticated %}
                {% if user.is_provider %}
                <a class="nav-item nav-link" href="{% url 'Provider-Dashboard' %}"
                    style="padding-right: 15px ; color:black;">Dashboard</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'Profile' %}"
                    style="padding-right: 15px ; color:black;">Profile</a>
                {% endif %}
                <a class="nav-item nav-link" href="{% url 'account_logout' %}"
                    style="padding-right: 15px ; color:black;">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'account_login' %}"
                    style="padding-right: 15px ; color:black;">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}"
                    style="padding-right: 15px ; color:black;">Register</a>
                <a class="nav-item nav-link" href="#" style="padding-right: 15px ; color:black;">About</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block body %} {% endblock %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% block script %} {% endblock %}
</body>

</html>