{% extends "userapp/layout.html" %} {% load static %} 
{% block head %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'>
{% endblock %}

{% block body %}
<!-- partial:index.partial.html -->
<p style="margin-top: 200px;"></p>
<body style="background-image: linear-gradient(#62C3C8, #37B9E9);"></body>
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6" style="margin-top: 20px">
            <div class="card border-primary">
                <div class="card-body bg-primary text-white">
                    <div class="row">
                        <div class="col-3">
                            <i class="fas fa-comments fa-5x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h4>Complaint Dashboard</h4>
                        </div>
                    </div>
                </div>
                <a href="{% url 'Complaint-Dashboard' %}">
                    <div class="card-footer bg-light">
                        <span class="float-left">View Complaints</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6" style="margin-top: 20px">
            <div class="card border-success">
                <div class="card-body bg-success text-white">
                    <div class="row">
                        <div class="col-3">
                            <i class="fa fa-plus-circle fa-5x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h4>Add Maintenance Man</h4>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="card-footer bg-light text-success">
                        <span class="float-left">New Mechanic</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6" style="margin-top: 20px">
            <div class="card border-danger">
                <div class="card-body bg-danger text-white">
                    <div class="row">
                        <div class="col-3">
                            <i class="fas fa-wrench fa-5x"></i>
                        </div>
                        <div class="col-9 text-right">
                            <h4>All Mechanics List</h4>
                        </div>
                    </div>
                </div>
                <a href="{% url 'All-Maintenance-Man' %}">
                    <div class="card-footer bg-light text-danger">
                        <span class="float-left">View all Mechanics</span>
                        <span class="float-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- partial -->
{% endblock body %}