{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%  static 'userapp/service_provider.css' %}">

{% endblock %}
{% block body %}

<br><br>
<div class="wrapper">
    <div class="container-fluid">
        <a href="{% url 'AddChargingStation' %}" class="btn-lg mb-2 btn-info ">Add New</a>
        <h1>Your Charging Stations</h1>
    </div><br>
    <div class="cols">
        {% for cs in cslist %}
        <div class="col" style="max-width: 600px;" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                    <div class="inner">
                        <p>{{ cs.name }}</p>
                        <span>{{ cs.suburb }}<br>{{ cs.city }}</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <button class="btn">
                            <span>Dashboard</span>
                        </button>
                        <a href="{% url 'DeleteStation' cs.id %}" style="margin-left:20px ;" class="btn btn-danger">Remove</a>                
                        <!-- <a type="button" class="btn btn-danger" style="margin-left:20px ;">Remove</button> -->
                    </div>
                    <br>

                </div>
            </div>
        </div>  
        {% endfor %}

    </div>
</div>
<div class="pagebtn" >
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" style="width:70px;" href="?page=1" >First</a>
    <a class="btn btn-outline-info mb-4" style="width:100px;" href="?page={{ page.obj.previous_page_number}}">Previous</a>
    {% endif  %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-outline-info mb-4" style="width:40px;" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" style="width:40px;" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" style="width:70px;" href="?page={{ page_obj.next_page_number }}">First</a>
    <a class="btn btn-outline-info mb-4" style="width:100px;" href="?page={{ page.obj.paginator.num_pages }}">Previous</a>
    {% endif  %}

    {% endif  %}
</div>

{% endblock %}