{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%  static 'userapp/service_provider.css' %}">

{% endblock %}
{% block body %}

<br><br>
<div class="wrapper">
    <div class="container-fluid">
        <a href="{% url 'AddChargingStation' %}" class="btn-lg mb-2 btn-info ">Add New</a>
        <h1>Your Charging Stations</h1>
    </div><br>
    <div class="cols">
        {% for charging_station in charging_stations %}
        <div class="col" style="max-width: 600px;" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                    <div class="inner">
                        <p>Diligord</p>
                        <span>Area Name<br>CITY</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <button class="btn">
                            <span>Dashboard</span>
                        </button>
                        <button type="button" class="btn btn-danger" style="margin-left:30px;">Remove</button>
                    </div>
                    <br>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}