{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{%  static 'userapp/dashboard_home.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <div class="layout">
            <div class="dashboardSidebar" id="sidebar">
                <div class="upperSidebar">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'userapp/svg/logo.svg' %}" alt="logo">
                    </a>
                    <a href="#"><i class="fa fa-bell fa-lg"></i></a>
                    <i class="fa fa-times" id="close"></i>
                </div>
                <div class="lowerSidebar">
                    <div class="user">
                        <img src="{% static 'userapp/icons/profile.svg' %}" alt="user">
                        <h4>Hello, ABC</h4>
                        <hr>
                    </div>
                    <div class="links">
                        <a href="{% url 'dash-layout' %}"><i class="fa fa-home"></i>Home</a>
                        <a href="#" class="active"><i class="fa fa-briefcase"></i>Business</a>
                        <a href="{% url 'Complaint-Dashboard' %}"><i class="fa fa-cogs"></i>Maintenance</a>
                        <a href="#"><i class="fa fa-headphones"></i>Support</a>
                    </div>
                </div>
            </div>
            <div class="dashboardContent">
                <div class="upperContent">
                    <a href="{% url 'account_logout' %}" style="z-index: 1000 !important;">Logout</a>
                    <div id="button"><i class="fa fa-bars"></i></div>
                </div>
                <div class="lowerContent">
                    <div class="title">
                        <h1>Your Shops</h1>
                        <a href="#">Add New Shop</a>
                    </div>
                    <div class="shops">
                        {% for cs in cslist %}
                        <div class="shopcard">
                            <img src="{% static 'userapp/station-pic.jpg' %}" alt="shop_image">
                            <div class="card-body">
                                <h3 class="name">{{ cs.name }}</h3>
                                <p class="location">{{ cs.suburb }}<br>{{ cs.city }}</p>
                                <div class="icon-grid">
                                    <div class="slow">
                                        <img src="{% static 'userapp/icons/slow charge.svg' %}" alt="slow">
                                        <p>8</p>
                                    </div>
                                    <div class="fast">
                                        <img src="{% static 'userapp/icons/fast charge.svg' %}" alt="slow">
                                        <p>4</p>
                                    </div>
                                    <div class="cctv">
                                        <img src="{% static 'userapp/icons/cctv.svg' %}" alt="">
                                        <p>Yes</p>
                                    </div>
                                    <div class="washroom">
                                        <img src="{% static 'userapp/icons/washroom.svg' %}" alt="">
                                        <p>No</p>
                                    </div>
                                </div>
                                <div class="buttons">
                                    <a href="{% url 'Charging-Station-Analytics' cs.id %}" class="green">Statistics</a>
                                    <a href="{% url 'DeleteStation' cs.id %}" class="red">Remove</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {% if cslist.has_other_pages %}

                        {% if cslist.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{ page.obj.previous_page_number}}">Previous</a>
                        {% endif  %}

                        {% for num in cslist.paginator.page_range %}
                        {% if cslist.number == num %}
                        <a href="?page={{ num }}">{{ num }}</a>
                        {% elif num > cslist.number|add:'-3' and num < cslist.number|add:'3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}

                        {% if cslist.has_next %}
                        <a href="?page={{ cslist.next_page_number }}">First</a>
                        <a href="?page={{ page.obj.paginator.num_pages }}">Previous</a>
                        {% endif  %}

                        {% endif  %}
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script>
        const sidebar = document.getElementById('sidebar');
        const button = document.getElementById('button');
        const close = document.getElementById('close');
        button.addEventListener('click', () => {
            sidebar.classList.toggle('open');
        })
        close.addEventListener('click', () => {
            sidebar.classList.toggle('open');
        })
    </script>
</body>

</html>