{% extends 'userapp/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'userapp/rs_provider.css'%}">
{% endblock head %}

{% block title %}
Register - Provider
{% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign Up</h5>
                    <form method="POST">
                        {% csrf_token %}
                        {{ signupform|crispy }}
                        {{ providerform|crispy }}
                        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}