{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Your Way</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/d17fc40e8a.js"></script>
    <link rel="stylesheet" href="{% static 'userapp/routeyourway.css' %}">
</head>

<body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <style>
        df-messenger {
            --df-messenger-send-icon: #1eff00;
            --df-messenger-button-titlebar-color: #e0f8dd;

        }
    </style>
    <df-messenger intent="WELCOME" chat-title="EverythingEV chatbot" agent-id="348918d8-72c3-486c-88b3-17ea3047c1f6"
        language-code="en"
        chat-icon="https://www.synaptive.com/img/chatbot.png">
    </df-messenger>
    <header>
        <div class="logo">
            <a href="{%url 'index'%}"><img src="{% static 'userapp/svg/logo.svg' %}" alt="logo"></a>
        </div>
        <div class="menu-toggle"></div>
        <nav>
            <ul class="nav-links">
                <li><a href="{%  url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                {% if user.is_provider %}
                <li><a href="{% url 'Provider-Dashboard' %}" role="button">Dashboard</a></li>
                {% else %}
                <li><a href="{% url 'Profile' %}" role="button">Profile</a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}" role="button">Log out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}" class="login" role="button">Log in</a></li>
                <li><a href="{% url 'register' %}" class="signup" role="button">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>
    <div class="container">
        <div class="card">
            <div class="card-header">Find Charging Stations in your route</div>
            <div class="card-body">
                <div id="inputbox" style="display: none">
                    <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location">
                    <input id="destination-input" class="controls dest" type="text"
                        placeholder="Enter a destination location">
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('.menu-toggle').toggleClass('active');
                $('nav').toggleClass('active');
            })
        })
    </script>
    <script>
        var latlang_cs = [];
        // Origin & Dest
        var lat1, lng1, lat2, lng2;
        var infowindows_cs = [];
        var content_cs = [];
        var csdata = JSON.parse('{{ csdata|safe }}');;
        var markers = [];
        var markers_cs = [];
        var map;
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script
        // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                mapTypeControl: false,
                center: {
                    lat: 20.5937,
                    lng: 78.9629
                },
                zoom: 6
            });

            new AutocompleteDirectionsHandler(map);
        }

        /**
         * @constructor
         */
        function AutocompleteDirectionsHandler(map) {
            this.map = map;
            this.originPlaceId = null;
            this.destinationPlaceId = null;
            this.travelMode = 'DRIVING';
            this.directionsService = new google.maps.DirectionsService;
            this.directionsRenderer = new google.maps.DirectionsRenderer;
            this.directionsRenderer.setMap(map);

            var originInput = document.getElementById('origin-input');
            var destinationInput = document.getElementById('destination-input');
            var modeSelector = document.getElementById('mode-selector');
            var originAutocomplete = new google.maps.places.Autocomplete(originInput);
            // Specify just the place data fields that you need.
            originAutocomplete.setFields(['place_id']);
            var destinationAutocomplete =
                new google.maps.places.Autocomplete(destinationInput);
            // Specify just the place data fields that you need.
            destinationAutocomplete.setFields(['place_id']);


            this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
            this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

            this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
            this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
                destinationInput);
            this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
        }

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        AutocompleteDirectionsHandler.prototype.setupClickListener = function (
            id, mode) {
            var radioButton = document.getElementById(id);
            var me = this;

            radioButton.addEventListener('click', function () {
                me.travelMode = mode;
                me.route();
            });
        };

        AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (
            autocomplete, mode) {
            var me = this;
            autocomplete.bindTo('bounds', this.map);

            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                if (!place.place_id) {
                    window.alert('Please select an option from the dropdown list.');
                    return;
                }
                if (mode === 'ORIG') {
                    me.originPlaceId = place.place_id;
                } else {
                    me.destinationPlaceId = place.place_id;
                }
                me.route();
            });
        };

        AutocompleteDirectionsHandler.prototype.route = function () {
            if (!this.originPlaceId || !this.destinationPlaceId) {
                return;
            }
            var me = this;
            var geocoder = new google.maps.Geocoder;

            geocoder.geocode({
                'placeId': this.originPlaceId
            }, function (results, status) {
                if (status === 'OK') {
                    lat1 = results[0]["geometry"]["location"].lat();
                    lng1 = results[0]["geometry"]["location"].lng();
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });

            geocoder.geocode({
                'placeId': this.destinationPlaceId
            }, function (results, status) {
                if (status === 'OK') {
                    lat2 = results[0]["geometry"]["location"].lat();
                    lng2 = results[0]["geometry"]["location"].lng();
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });


            this.directionsService.route({
                origin: {
                    'placeId': this.originPlaceId
                },
                destination: {
                    'placeId': this.destinationPlaceId
                },
                travelMode: this.travelMode
            },
                function (response, status) {
                    if (status === 'OK') {
                        clearMarkers();
                        me.directionsRenderer.setDirections(response);
                        map.setCenter()
                        plot();
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
        };

        function plot() {
            clearMarkers();
            for (var i = 0; i < csdata.length; i++) {
                latlang_cs.push({
                    lat: csdata[i][4],
                    lng: csdata[i][5]
                });
                var directionlink = "https://www.google.com/maps/dir/?api=1&origin=" + lat1 + "," + lng1 + "&destination=" + csdata[i][4] + "," + csdata[i][5];
                content_cs[i] = "<div><b>Station Name:</b> " + csdata[i][0] + " <br><b>City:</b> " + csdata[i][1] + " <br><b>Suburb:</b> " + csdata[i][2] + " <br><b>Owner: </b> " +
                    csdata[i][3] + "<br><b>Total Ports:</b>" + csdata[i][6] + "<br><b>Fast Ports:</b>" + csdata[i][7] + "<br><b>Slow Ports:</b>" + csdata[i][8] +
                    "<br><b>Price/Kwh:</b>" + csdata[i][9] + "<br><b>Restroom:</b>" + csdata[i][10] + "<br><b>CCTV:</b>" + csdata[i][11] + "<br><b>Opening Time:</b>" + csdata[i][12] +
                    "<br><b>Closing Time:</b>" + csdata[i][13] + "<br><a href=" + directionlink + " target='_blank'>Get Directions</a>" + "</div>";
            }
            for (var i = 0; i < latlang_cs.length; i++) {
                addMarkerWithTimeout(latlang_cs[i], content_cs[i], i * 10);
            }
        };

        var prev_infowindow = false;

        function addMarkerWithTimeout(position, html, timeout) {
            window.setTimeout(function () {
                var data = position;
                var markerd = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: data.name,
                    animation: google.maps.Animation.DROP
                });
                markers.push(markerd);
                var infowindow = new google.maps.InfoWindow({
                    content: html,
                });
                google.maps.event.addListener(markerd, 'click', (function (markerd, html) {
                    return function () {
                        if (this.getMap()) {
                            if (prev_infowindow) {
                                prev_infowindow.close();
                            }
                            infowindow.open(this.getMap(), this);
                        }
                        prev_infowindow = infowindow;
                    }
                })(markerd, html));

            }, timeout);
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers_cs = [];
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsIEEqoBh7-rXnD9hU2PCbLy2WAJakfb0&libraries=places&callback=initMap"
        async defer></script>
</body>

</html>