{% extends "userapp/layout.html" %} {% load static %}
{% block head %}
<title>
    Monthly Savings and Mileage Calculator
</title>
{% endblock %}
{% block body %}
<main>
    <div class="savingsBanner">
        <h1>Savings <br> Calculator</h1>
        <img src="{% static 'userapp/svg/savings_art.svg' %}">
    </div>
    <div class="calculate">
        <h2>Calculate your monthly savings if you're switching to Electric Vehicles.</h2>
        <div class="input-group">
            <div class="brand">
                <h3>Step 1</h3>
                <div class="step1">
                    <p>Choose the <br> Vehicle Brand</p>
                    <select name="" id="">
                        <option selected disabled="true">-- Select an EV --</option>
                        {% for EV in Vehicle %}
                        <option>{{ EV.company }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="distance">
                <h3>Step 2</h3>
                <div class="step3">
                    <p>Enter the average
                        <br>distance you travel
                        <br>with car everyday</p>
                    <div class="selection">
                        <input type='number' id='nameField' maxlength="4"> km(s)
                    </div>

                </div>
            </div>
            <div class="submitInput">
                <a role="button" href="#results">Calculate</a>
            </div>
        </div>
    </div>



    <div class="result-group" id="results" style="margin-bottom: 100px;">
        <div class="numeric">
            <p class="title">Cost</p>
            <div class="costings">
                <p class="cars">For Fuel Cars:₹ <span id='nameDisplay'>0</span><span class="per">/month</span></p>
                <p class="cars">For EV:<span id='EV'>0</span><span class="per">/month</span></p>
            </div>
        </div>
        <div class="numeric">
            <p class="title">Your Estimated Savings*</p>
            <div class="perMonth">
                <p class="value">&#8377;<span id='monthly_savings'>0</span><span class="per">/month</span></p>
            </div>
            <div class="perYear">
                <p class="value">&#8377;<span id='yearly_savings'>0</span><span class="per">/year</span></p>
            </div>
        </div>
    </div>

    <div class="calculate">
        <h2>Calculate your monthly savings if you're switching to Electric Vehicles.</h2>
        <div class="input-group" style="grid-template-columns: 1fr 1fr;">
            <div class="brand">
                <h3>Step 1</h3>
                <div class="step1">
                    <p>Choose the <br> Vehicle Brand</p>
                    <select name="" id="">
                        <option selected disabled="true">-- Select an EV --</option>
                        {% for EV in Vehicle %}
                        <option>{{ EV.company }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="distance">
                <h3>Step 2</h3>
                <div class="step3">
                    <p>Enter the current
                        <br>charging status
                        <br>of your car</p>
                    <div class="selection">
                        <input type="number" id='batteryPercent' aria-valuemin="0" aria-valuemax="100"><span
                            style="font-size: 2rem;">%</span></input>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="result-group" style="height:fit-content">
        <div class="numeric" style="height:fit-content">
            <p class="title">Distance You can travel</p>
            <div class="costings">
                <p class="cars"><span class="cost" id='mileage'>0</span> km(s)</p>
            </div>
        </div>
    </div>
    <div class="result-group" style="height:fit-content">
        <p style="color:#6c757d; font-size: 1rem;">* Disclaimer: This tool is only intended to provide an estimate of
            potential
            savings. Actual results will vary. Customers may not realize similar energy
            savings. Vehicle data is subject to change
            without notice. This is the estimated residential electricity rate for the
            utility. This rate may not include tiered or time-of-use rates. Rates change
            periodically. Utility does not warrant or represent that this data is accurate.
            In no event shall the utility or its suppliers be liable for any special,
            indirect or consequential damages or any damages whatsoever, including, but not
            limited to claims associated with the accuracy of this data or information.
        </p>
    </div>

</main>
{% endblock body %}
{% block script %}
<!--Savings Calculation Logic -->
<script>
    window.onload = function () {

        var nameField = document.getElementById('nameField');
        var perKmPetrolCost = 3.4;  // Average value of petrol per km in last 10 years
        var kWh = 0.2; // Average kwh of an EV

        updateNameDisplay();

        setInterval(updateNameDisplay, 100);

        function updateNameDisplay() {
            var kms = nameField.value || 0;
            var total_cost_of_FV_per_month = Math.round(perKmPetrolCost * kms * 30);
            var total_cost_of_EV_per_month = Math.round(kWh * kms * 30);
            var monthly_savings = Math.round(total_cost_of_FV_per_month - total_cost_of_EV_per_month);
            var yearly_savings = Math.round(monthly_savings * 12);

            if (kms > 0) {
                document.getElementById('nameDisplay').innerHTML = total_cost_of_FV_per_month;
                document.getElementById('EV').innerHTML = total_cost_of_EV_per_month;
                document.getElementById('monthly_savings').innerHTML = monthly_savings;
                document.getElementById('yearly_savings').innerHTML = yearly_savings;
            }
        }
        var battery = document.getElementById('batteryPercent');
        var avgRangeOfEV = 234.73;  // Average range of EV - Calculated from the list of vehicles in database

        update();

        setInterval(update, 100);

        function update() {
            var batteryPercent = battery.value || 0;
            document.getElementById('percentDisplay').innerHTML = batteryPercent;
            var mileage = Math.round((avgRangeOfEV * batteryPercent) / 100);

            if (batteryPercent > 0) {
                document.getElementById('mileage').innerHTML = mileage;
            }
        }

    };
</script>
{% endblock script %}