{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{%  static 'userapp/service_provider.css' %}">

{% endblock %}
{% block body %}













<div class="wrapper">
    <div>
        <h1>Your Charging Stations</h1>
    
        <div class="button_cont" align="center"><a class="example_b" >Add New Charging Station</a></div>
    </div>
    
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                          <div class="inner">
                              <p>Diligord</p>
                <span>Area Name<br>CITY</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                                <button class="btn">
                                
                                <span>MORE</span>
                              

                            </div>

                            </button>
                        <br>
                           
                        <a href="#" style="align-content: center; position:relative;" class="button">REMOVE</a>
                      </div>
                      
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="url(https://unsplash.it/511/511/)">
                          <div class="inner">
                              <p>Rocogged</p>
                <span>Lorem ipsum</span>
                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                          </div>
                      </div>
                  </div>
              </div>
             
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="url(https://unsplash.it/511/511/)">
                        <div class="inner">
                            <p>Rocogged</p>
              <span>Lorem ipsum</span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                        </div>
                    </div>
                </div>
            </div>





            
{% endblock %}