{% extends "userapp/layout.html" %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'userapp/survey.css' %}">
<title>
    Survey
</title>
{% endblock %} {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Tell Us</h1>
        <p class="lead font-weight-bold">Hey Fam!<br>We are so happy that you are using our services. Please let us make your experience way better by telling us more.</p>
    </div>
</div> {% endblock body %}