{% extends "userapp/layout.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'userapp/survey.css' %}">
<title>
    Survey
</title>
{% endblock %} {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Tell Us</h1>
        <p class="lead font-weight-bold">Hey Fam!<br>We are so happy that you are using our services. Please let us make your experience way better by telling us more.</p>
    </div>
</div>

<div class="all-questions">
    <div class="container question-section">
        <div class="question">
            <h3>How much time did it take you to charge today?</h3>
        </div>
        <div class="answers-section justify-content-between">
            <button class="answer">10 mins</button>
            <button class="answer">20 mins</button>
            <button class="answer">30 mins</button>
            <button class="answer">40 mins</button>
            <button class="answer">50 mins</button>
            <button class="answer">1 hr</button>
        </div>
    </div>
    <div class="container question-section">
        <div class="question">
            <h3>Did you use slow port or fast port?</h3>
        </div>
        <div class="answers-section justify-content-between">
            <button class="answer">Slow</button>
            <button class="answer">Fast</button>
        </div>
    </div>
    <div class="container question-section">
        <div class="question">
            <h3>Which vehicle did you use today?</h3>
        </div>
        <div class="answers-section justify-content-between">
            <button class="answer">V1</button>
            <button class="answer">V2</button>
            <button class="answer">V3</button>
        </div>
    </div>
    <div class="container question-section">
        <div class="question">
            <h3>How much distance you may have travelled today?</h3>
        </div>
        <div class="answers-section justify-content-between">
            <button class="answer">10 km</button>
            <button class="answer">20 km</button>
            <button class="answer">30 km</button>
            <button class="answer">40 km</button>
            <button class="answer">50 km</button>
            <button class="answer">60 km</button>
        </div>
    </div>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        {{ survey_form|crispy }}
    </form>
</div>
{% endblock body %}

{% block script %}
    <script>
        
    </script>
{% endblock script %}