{% extends "userapp/layout.html" %} {% load static %} 
{% block head %}
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{%  static 'userapp/table_style.css' %}">
{% endblock %}

{% block body %}
<body style="background-image: linear-gradient(#62C3C8, #37B9E9);"></body>
<div class="container">
      <div class="header_wrap">
        <div class="num_rows">
		
				<div class="form-group"> 	
			 		<select class  ="form-control" name="state" id="maxRows">
						 
						 
						 <option value="10">10</option>
						 <option value="15">15</option>
						 <option value="20">20</option>
						 <option value="50">50</option>
						 <option value="70">70</option>
						 <option value="100">100</option>
            <option value="5000">Show ALL Rows</option>
						</select>
			 		
			  	</div>
        </div>
        <div class="tb_search">
<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="form-control">
        </div>
      </div>
<table class="table table-striped table-class" id= "table-id">
  
	
<thead>
<tr>
		<th>Organization Name</th>
		<th>Name</th>
		<th>Phone</th>
		<th>Area/Locality</th>
		<th>City</th>
		<th>More Details</th>
	</tr>
  </thead>
<tbody>
	
	{%for ad in d%}
	<tr>
		<td>{{ad.OrgName}}</td>
		<td>{{ad.name}}</td>
		<td>{{ad.ph1}}</td>
		<td>{{ad.City}}</td>
		<td>{{ad.AreaLocality}}</td>
		<td><details>
				<summary>Complaint</summary>
				<b>Address</b>
				<p>{{ad.OfficeAdd}}</p>
				<button type="button" class="btn btn-warning"><a href="{%url 'bookingMm' ad.id%}">BOOK</a></button>

		  	</details>
		</td>
	</tr>
	{%endfor%}
	
  
    <tbody>
</table>

<!--		Start Pagination -->
			<div class='pagination-container'>
				<nav>
				  <ul class="pagination">
				   <!--	Here the JS Function Will Add the Rows -->
				  </ul>
				</nav>
			</div>
      <div class="rows_count">Showing 11 to 20 of 91 entries</div>

</div> <!-- 		End of Container -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script  src="{%  static 'userapp/table_script.js' %}"></script>

{% endblock body %}