{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'userapp/uc.css'%}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="column left">

        <div class="card" id="d">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level 13
                    </div>
                    <div class="points center">
                        5,312 Points
                    </div>
                </div>
                <div class="more-info">
                    <h1>Jane Doe</h1>
                    <div class="coords">
                        <span>Group Name</span>
                        <span>Joined January 2019</span>
                    </div>
                    <div class="coords">
                        <span>Position/Role</span>
                        <span>City, Country</span>
                    </div>
                    <div class="stats">
                        <div>
                            <div class="title">Awards</div>
                            <i class="fa fa-trophy"></i>
                            <div class="value">2</div>
                        </div>
                        <div>
                            <div class="title">Matches</div>
                            <i class="fa fa-gamepad"></i>
                            <div class="value">27</div>
                        </div>
                        <div>
                            <div class="title">Pals</div>
                            <i class="fa fa-group"></i>
                            <div class="value">123</div>
                        </div>
                        <div>
                            <div class="title">Coffee</div>
                            <i class="fa fa-coffee"></i>
                            <div class="value infinity">∞</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Jane Doe</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus.
                </p>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>
        <div class="card">
            <div class="additional">
                <div class="user-card">
                    <div class="level center">
                        Level 13
                    </div>
                    <div class="points center">
                        5,312 Points
                    </div>
                </div>
                <div class="more-info">
                    <h1>Jane Doe</h1>
                    <div class="coords">
                        <span>Group Name</span>
                        <span>Joined January 2019</span>
                    </div>
                    <div class="coords">
                        <span>Position/Role</span>
                        <span>City, Country</span>
                    </div>
                    <div class="stats">
                        <div>
                            <div class="title">Awards</div>
                            <i class="fa fa-trophy"></i>
                            <div class="value">2</div>
                        </div>
                        <div>
                            <div class="title">Matches</div>
                            <i class="fa fa-gamepad"></i>
                            <div class="value">27</div>
                        </div>
                        <div>
                            <div class="title">Pals</div>
                            <i class="fa fa-group"></i>
                            <div class="value">123</div>
                        </div>
                        <div>
                            <div class="title">Coffee</div>
                            <i class="fa fa-coffee"></i>
                            <div class="value infinity">∞</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="general">
                <h1>Jane Doe</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus.
                    Nam vestibulum sodales odio ut pulvinar.</p>
                <span class="more">Mouse over the card for more info</span>
            </div>
        </div>

    </div>
    <div class="column right">
        <div class="card bg-light" style="height: 550px; width:900px;" >
            <div class="card-body">
                <input type="text" class="form-control float-right" style="width:300px;" id="location-text-box"
      placeholder="Enter place to search">
                <div id="map"></div>
            </div>
    </div>
</div>
</div>

{% endblock %}

{% block script %}
<script>    

        var finallat;
        var finallng;
        var location;
        document.getElementById('location-text-box').value = '';
        var map;
        var marker;
      
        function initMap() {
          var mapOptions = {
            zoom: 12
          };
          map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
      
          // Get GEOLOCATION
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
              var pos = new google.maps.LatLng(position.coords.latitude,
                position.coords.longitude);
      
              map.setCenter(pos);
              marker = new google.maps.Marker({
                position: pos,
                map: map,
                draggable: true
              });
            }, function () {
              handleNoGeolocation(true);
            });
          } else {
            // Browser doesn't support Geolocation
            handleNoGeolocation(false);
          }
      
          function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
              var content = 'Error: The Geolocation service failed.';
            } else {
              var content = 'Error: Your browser doesn\'t support geolocation.';
            }
      
            var options = {
              map: map,
              position: new google.maps.LatLng(60, 105),
              content: content
            };
      
            map.setCenter(options.position);
            marker = new google.maps.Marker({
              position: options.position,
              map: map,
              draggable: true
            });
      
          }
      
          // get places auto-complete when user type in location-text-box
          var input = /** @type {HTMLInputElement} */
            (
              document.getElementById('location-text-box'));
      
      
          var autocomplete = new google.maps.places.Autocomplete(input);
          autocomplete.bindTo('bounds', map);
      
          var infowindow = new google.maps.InfoWindow();
          marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29),
            draggable: true
          });
      
          google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
              return;
            }
      
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
              map.fitBounds(place.geometry.viewport);
            } else {
              map.setCenter(place.geometry.location);
              map.setZoom(17); // Why 17? Because it looks good.
            }
      
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
      
            var address = '';
            if (place.address_components) {
              address = [
                (place.address_components[0] && place.address_components[0].short_name || ''), (place.address_components[1] && place.address_components[1].short_name || ''), (place.address_components[2] && place.address_components[2].short_name || '')
              ].join(' ');
            }
      
          });
      
      
      
        }
      
        google.maps.event.addDomListener(window, 'load', initialize);
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9Y9_KDeiRBLZorVqObm42FaX_XnAxJoY&libraries=places&callback=initMap" async defer></script>


{% endblock %}