{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Choose EV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'userapp/evstyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <style>
        df-messenger {
            --df-messenger-send-icon: #1eff00;
            --df-messenger-button-titlebar-color: #e0f8dd;

        }
    </style>
    <df-messenger intent="WELCOME" chat-title="EverythingEV chatbot" agent-id="348918d8-72c3-486c-88b3-17ea3047c1f6"
        language-code="en"
        chat-icon="https://www.synaptive.com/img/chatbot.png">
    </df-messenger>
    <header>
        <div class="logo">
            <img src="{% static 'userapp/svg/logo.svg' %}" alt="logo">
        </div>
        <div class="menu-toggle"></div>
        <nav>
            <ul class="nav-links">
                <li><a href="{%  url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                {% if user.is_provider %}
                <li><a href="{% url 'Provider-Dashboard' %}" role="button">Dashboard</a></li>
                {% else %}
                <li><a href="{% url 'Profile' %}" role="button">Profile</a></li>
                {% endif %}
                <li><a href="{% url 'account_logout' %}" role="button">Log out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}" class="login" role="button">Log in</a></li>
                <li><a href="{% url 'register' %}" class="signup" role="button">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="clearfix"></div>
    </header>
    <br>
    <!-- Head -->
    <div class="head">
        <div class="imghead">
            <img src="{% static 'userapp/bg.png' %}" alt="text" width="460" height="345">
            <div class="centered">
                Why Choose EV?
            </div>
        </div>
        <div style="background-color: #2D677A;height:50%;">
            <p
                style="margin: -1px 10% 0% 10%;padding: 3% 0% 3% 0%;height: 50%;font-family: 'Noto Sans JP', sans-serif;color: azure;font-size: 2rem;">
                Electric vehicles are one solution to the negative environmental impact of
                conventional vehicles. However, they have also proven to have many more
                benefits to society. The advent of electric vehicles has called for an
                improvement in overall energy usage and generation. They have shown
                how important it is to find alternate sources of fuel and they can positively
                affect the environment and society as a whole.
            </p>

        </div>
    </div>

    <!-- Why EV -->
    <section class="about_com" style="padding-bottom:0px;">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="info_gra">
                            <img src="{% static 'userapp/energy.svg' %}" height="100" width="100">
                            <!-- <i class="fa fa-charging-station"></i> -->
                            <h3>Better Energy Efficiency</h3>
                            <p class="size">More throughput of Energy than Fossil Fuels makes it EV energy efficient</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="info_gra">
                            <img src="{% static 'userapp/car1.svg' %}" height="100" width="100">
                            <h3>Less Greenhouse Emission</h3>
                            <p class="size">EV reduces pollution, hence reducing Greenhouse gases emission to a greater
                                extent.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="info_gra">
                            <img src="{% static 'userapp/green.svg' %}" height="100" width="100">
                            <h3>Better for the Environment</h3>
                            <p class="size">Electric vehicles don’t require drilling for oil (for fuel). Furthermore,
                                they
                                don’t release tailpipe exhaust and they are super quiet too.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="info_gra">
                            <img src="{% static 'userapp/health.svg' %}" height="100" width="100">
                            <h3>Can Potentially Improve Public Health</h3>
                            <p class="size">Electric vehicles do not emit as many harmful gases as gas vehicles, and
                                thus do
                                not contribute to the presence of gaseous chemicals in the air.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="info_gra">
                            <img src="{% static 'userapp/economy.svg' %}" height="100" width="100">
                            <h3>Creates Economic Growth</h3>
                            <p class="size">The increased demand for a constant and reliable energy source for electric
                                vehicles allows for the growth of renewable sources of energy, like solar and wind.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="info_gra">
                            <img src="{% static 'userapp/money.svg' %}" height="100" width="100">
                            <h3>Affordability</h3>
                            <p class="size">Electric vehicles are getting cheaper and cheaper, and battery manufacturing
                                prices are falling too. This means EVs will get even more affordable in the future.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="thankyou" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thank you!</h4>
                </div>
                <div class="modal-body">
                    <p>We will get back to you shortly</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="supportmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Your Issue</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" id="supportform">
                        {% csrf_token %}
                        {{ supportform|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Submit" form="supportform">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="margin-top:4em;">
        <div class="container">
            <h1 class="display-3">Frequently Asked Questions</h1>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-lg-3">
            <div class="nav nav-tabs">
                <a class="nav-link p-3 mb-2 sidebar-link justify-content-between text-success ml-4 mr-4"
                    href="#vehicles" data-toggle="tab">
                    <h4 class="text-success size">Vehicles</h4>
                </a>
                <br />
                <a class="nav-link p-3 mb-2 sidebar-link justify-content-between ml-4 mr-4" href="#battery"
                    data-toggle="tab">
                    <h4 class="text-success size">Battery</h4>
                </a>
                <a class="nav-link p-3 mb-2 sidebar-link justify-content-between ml-4 mr-4" href="#charging"
                    data-toggle="tab">
                    <h4 class="text-success size">Charging</h4>
                </a>
            </div>
        </div>

        <div class="tab-content  col-lg-9">
            <div class="tab-pane active" id="vehicles">
                <div class="faqs-container">
                    <div class="faq active">
                        <h3 class="faq-title">
                            What is Hybrid Electric Vehicle?
                        </h3>
                        <p class="faq-text">
                            Hybrid Electric Vehicles combine conventional internal combustion engine systems with
                            electric
                            propulsion systems. They use regenerative braking to convert energy that is normally wasted
                            during braking/coasting into electricity. This electricity is stored
                            in a battery until it’s needed by the electric motor.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            What is a Battery Electric Vehicle?
                        </h3>
                        <p class="faq-text">
                            Battery Electric Vehicles use only electricity to power the vehicle. All the electricity
                            comes
                            from an electric charging source and regenerative braking (using the vehicle’s kinetic
                            energy to
                            recharge the battery). Examples of BEVs include the Chevrolet
                            Bolt, Nissan Leaf and any of the Tesla models. There are many different BEV choices coming
                            to
                            market over the next few years.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            What types of electric cars are available?
                        </h3>
                        <p class="faq-text">
                            There are primarily three types: All-electric cars that run on batteries and have to be
                            recharged when the batteries run flat.Plug-in hybrids that rely on electricity from the wall
                            and
                            a gasoline engine. Extended-range electric vehicles, such as the Chevrolet
                            Volt, that are a type of plug-in hybrid that runs purely on electricity, but when the
                            battery
                            runs out, an on-board engine recharges it. The gasoline engine acts only as a generator to
                            provide electricity for longer trips, and
                            it does not directly drive the wheels.
                        </p>
                        <button class="faq-toggle justify-content-between">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            How fast can an Electric Car/Bike go?
                        </h3>
                        <p class="faq-text">
                            As fast as you like. Just like a petrol powered car/bike, you can modify and tune your EV to
                            reach optimum levels of performance. While most EV’s are commuter cars, there are a few
                            production cars that offer great performance.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            What Brands of Electric Vehicles are Available?
                        </h3>
                        <p class="faq-text">
                            There are many types of Hybrid, Electric and Plug-In Hybrid vehicles either available now,
                            or
                            coming up in the near future. Check our <a href="{% url 'sales-page' %}"
                                target="_blank">Sales page</a> to see a list of each model of car from each
                            manufacturer to find the type of vehicle that suits your tastes.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            What is the Difference Between Electric, Hybrid and Plug-In Hybrid?
                        </h3>
                        <p class="faq-text">
                            A <strong><u>hybrid vehicle</u></strong> gets its energy simultaneously from a gasoline
                            engine and an
                            electric motor. The engine and the motor work together to power the car; this helps
                            to increase your fuel economy ratings (i.e. how many miles you can travel with one
                            gallon of gasoline). The engine also uses gasoline to help recharge the vehicle’s
                            battery, which powers the electric motor.
                            A <strong><u>plug-in hybrid vehicle (PHEV)</u></strong> also uses a gasoline engine and an
                            electric motor, but in different ways.
                            The plug-in hybrid runs primarily using its electric motor, powered by the battery.
                            A plug-in hybrid won’t tap into your gas tank until the battery runs out of power.
                            Instead of the electric motor and the engine working together at the same time, a
                            plug-in hybrid uses its engine as a backup plan.The distance you can travel before
                            this happens is often advertised as a vehicle’s all-electric range. Once the battery
                            runs out of power, it has to be charged using a plug-in electric charger the engine
                            does not recharge a plug-in hybrid’s battery.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            What is a plug-in hybrid vehicle (PHEV)?
                        </h3>
                        <p class="faq-text">
                            A PHEV is a car that can take both electricity (from plugging in) and gasoline. Usually,
                            they
                            run on electricity first and then drawn on gasoline later. That way, you are driving
                            electric
                            around town and only use gasoline for long trips.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="battery">
                <div class="faqs-container">
                    <div class="faq active">
                        <h3 class="faq-title">
                            How long before we would need to change the battery pack on an EV?
                        </h3>
                        <p class="faq-text">
                            It depends on the quality of battery used by the manufacturer while manufacturing an EV.
                            Mostly, the battery is not for many years. Mahindra offer warranties covering 5 years of
                            driving on the lithium-ion
                            batteries in the E2O. Reva users have used batteries for more than 3 years. One simple
                            technique
                            that could be used to pay for the battery is to start an Recurring
                            Deposit of Rs2000 per month for 3 years or more.Liquidate the RD after 3-4 years whenever
                            the
                            need arises to change the battery. Thus bank interest accumulation can partly help you fund
                            your
                            shiny new battery pack!
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            Can EV batteries be recycled?
                        </h3>
                        <p class="faq-text">
                            Lithium, the main component in EV batteries, is highly recyclable and many manufacturers are
                            creating programs to help customers recycle or repurpose batteries at the end of their
                            useful
                            life in a car. Once their life in a vehicle ends, batteries still
                            have some usefulness left. For instance, someday these spent batteries could be used to
                            store
                            renewable power and reduce the impacts of intermittent solar or wind, or when combined,
                            these
                            batteries might take on a second life as
                            a backup power supply for PGE customers during an outage.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            Where do batteries end up? In landfills? Or recycled?
                        </h3>
                        <p class="faq-text">
                            Vehicle batteries have an excellent recycling record that will get even better with plug-in
                            vehicles. Every car in the world has a lead-acid battery. Even with its low value as scrap,
                            the
                            national recycling rate for lead-acid batteries is about 98 percent.
                            Plug-in vehicles mostly use lithium ion, which is much more valuable than lead. It’s illegal
                            to
                            dispose of these batteries in a landfill, and their inherent value will ensure that they are
                            recycled. Some car makers are exploring
                            “second-life” applications for used EV batteries as well.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="charging">
                <div class="faqs-container">
                    <div class="faq active">
                        <h3 class="faq-title">
                            Can electric vehicles self-charge?
                        </h3>
                        <p class="faq-text">
                            No. Energy conversions are never 100 percent efficient, so every time we convert one
                            form of
                            energy to another, we lose some of that energy. Hybrids and EVs recapture some of their
                            energy
                            back into the batteries through regenerative braking.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            How long does it take to charge a plug-in car?
                        </h3>
                        <p class="faq-text">
                            How long does it take to charge your cell phone? Think about charging your car just like
                            you
                            think about charging your cell phone. Most people charge their cars at home or work,
                            just like a
                            cell phone. Plug it in when you arrive and it will be ready for
                            you in the morning, or the end of the work day. The actual charging time depends on the
                            size of
                            your battery, how far you have driven, and the amperage of the charging system. Keep in
                            mind
                            that most of the time, the battery will
                            not be empty when you plug in, just like your cell phone.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            Where do you recharge a plug-in vehicle?
                        </h3>
                        <p class="faq-text">
                            Most people recharge overnight in their garage, carport or driveway or work, but there
                            are many
                            public chargers for electric cars as well. An estimated
                            99 percent of all charging currently happens at home or work.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>

                    <div class="faq">
                        <h3 class="faq-title">
                            How much does it cost to charge a plug-in vehicle?
                        </h3>
                        <p class="faq-text">
                            Much less than it costs to buy gasoline. Exactly how much depends on the vehicle and
                            electricity
                            rates. On average, it costs less than $1 to charge a plug-in hybrid and $2-$4 for an
                            all-electric car. Your overall energy bill will be lowered by driving
                            with electricity.
                        </p>
                        <button class="faq-toggle">
                            <i class="fa fa-chevron-down"></i>
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
<br>
<br>
        <footer>
            <div class="footer-content" style="width: 100%;">
                <div class="column-1">
                    <img src="{% static 'userapp/svg/logo-white.svg' %}" alt="logo">
                    <div class="links">
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Terms and Conditions</a>
                    </div>
                </div>
                <div class="column-2">
                    <p>Subscribe to our Newsletter</p>
                    <div class="subscribe-group">
                        <input type="email" name="newsletter" placeholder="Email Address">
                        <div class="submit"><a href="#">OK</a></div>
                    </div>
                </div>
                <div class="social">
                    <i class="fa fa-2x fa-facebook-f"></i>
                    <i class="fa fa-2x fa-instagram"></i>
                    <i class="fa fa-2x fa-twitter"></i>
                </div>
                <div class="address">
                    <h3>Address:<br></h3>
                    <p>Chicken Dinner Road,<br>Canyon Country,<br>Idaho,<br>USA.</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p style="margin-bottom:0px">&copy;Rinovation, Inc.</p>
            </div>
        </footer>

        <!-- <button class="floating-btn" id="supportbtn">
            Get in Touch
        </button> -->

        <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                $('.menu-toggle').click(function () {
                    $('.menu-toggle').toggleClass('active');
                    $('nav').toggleClass('active');
                })
            })
        </script>

        <script>
            const faqs = document.querySelectorAll(".faq");
            let toggleDiv = function (evt) {
                const isActive = this.classList.contains("active");
                /// reset all
                faqs.forEach((x) => {
                    x.classList.remove("active");
                });
                if (!isActive) {
                    this.classList.add("active");
                } else {
                    this.classList.remove("active");
                }
            };
            faqs.forEach((faq) => {
                faq.addEventListener("click", toggleDiv.bind(faq));
            });
        </script>
        <script>
            $('#supportbtn').click(function () {
                $("#supportmodal").modal('show');
            });
            $(document).ready(function () {
                $("#supportform").submit(function (e) {
                    e.preventDefault();
                    var subject = $("#id_subject").val();
                    var description = $("#id_description").val();
                    $.ajax({
                        data: {
                            'subject': subject,
                            'description': description,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: 'json',
                        url: "{% url 'SupportRequest' %}",
                        type: "POST",
                        success: function (response) {
                            $("#supportform").trigger("reset");
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    })
                    $("#supportmodal").modal('hide');
                    $("#thankyou").modal('show');
                });
            });
        </script>

</body>

</html>