{% extends "userapp/layout.html" %}
{% load static %}
{% block head %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'><link rel="stylesheet" href="{%  static 'userapp/why_choose_EV_style.css' %}">
{% endblock %}
{% block body %}
<body>
<header>
  		<div class="row">
  	</div>
  </header><!--Head CTA -->
  <section class="logo">
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  				<div class="text-center">
  					<a href="#">
  						<img src="https://image.ibb.co/moM45w/logo.png">
  					</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </section><!--Logo -->
  <nav>
  </nav><!--Logo -->
  <section class="banner">
		<div class='container-fluid'>
			<div class="row">
			  <div class='single-item'>
			    <div>
			    	<img src="https://image.ibb.co/er42sb/slider-bg1.jpg">
			    	<h2><span>A Totally New</span> Way to Your Business! </h2>
			    </div>
			    <div>
			    	<img src="https://image.ibb.co/daghsb/slider-bg2.jpg">
			    	<h2><span>A Totally New</span> Way to Your Business! </h2>
			    </div>
			    <div>
			    	<img src="https://image.ibb.co/gKDvCb/slider-bg3.jpg">
			    	<h2><span>A Totally New</span> Way to Your Business! </h2>
			    </div>
			  </div>
			</div>
		</div>
	</section><!--banner -->
	</section><!--about -->
  	<section class="services">
  		<div class="container">
  			<div class="row">
  				<h2>Service</h2>
  				<p>Hundreds of satisfied customers</p>
  				<div class="slider responsive">
				    <div class="">
				      <div class="colouts">
				        <img src="https://image.ibb.co/jAfmJG/service_1.jpg">
				        <div class="col_info">
				          <h3>Battery replacement</h3>
				          <p>Praesent tortor massa, hendrerit vel ultricies a, vulputate et turpis. Quisque vitae congue risus, eget porttitor leo.</p>
				          <a href="#">view more</a>
				        </div>
				      </div>
				    </div>
				    <div class="">
				      <div class="colouts">
				        <img src="https://image.ibb.co/cUC0dG/service_2.jpg">
				        <div class="col_info">
				          <h3>Battery replacement</h3>
				          <p>Praesent tortor massa, hendrerit vel ultricies a, vulputate et turpis. Quisque vitae congue risus, eget porttitor leo.</p>
				          <a href="#">view more</a>
				        </div>
				      </div>
				    </div>
					<div class="">
				      <div class="colouts">
				        <img src="https://image.ibb.co/nP6RJG/service_3.jpg">
				        <div class="col_info">
				          <h3>Battery replacement</h3>
				          <p>Praesent tortor massa, hendrerit vel ultricies a, vulputate et turpis. Quisque vitae congue risus, eget porttitor leo.</p>
				          <a href="#">view more</a>
				        </div>
				      </div>
				    </div>
					<div class="">
				      <div class="colouts">
				        <img src="https://image.ibb.co/m008Xb/service_4.jpg">
				        <div class="col_info">
				          <h3>Battery replacement</h3>
				          <p>Praesent tortor massa, hendrerit vel ultricies a, vulputate et turpis. Quisque vitae congue risus, eget porttitor leo.</p>
				          <a href="#">view more</a>
				        </div>
				      </div>
				    </div>
				    <div class="">
				      <div class="colouts">
				        <img src="https://image.ibb.co/gFHoXb/service_5.jpg">
				        <div class="col_info">
				          <h3>Battery replacement</h3>
				          <p>Praesent tortor massa, hendrerit vel ultricies a, vulputate et turpis. Quisque vitae congue risus, eget porttitor leo.</p>
				          <a href="#">view more</a>
				        </div>
				      </div>
				    </div>
					<div class="">
				      <div class="colouts">
				        <img src="https://image.ibb.co/jEbtyG/service_6.jpg">
				        <div class="col_info">
				          <h3>Battery replacement</h3>
				          <p>Praesent tortor massa, hendrerit vel ultricies a, vulputate et turpis. Quisque vitae congue risus, eget porttitor leo.</p>
				          <a href="#">view more</a>
				        </div>
				      </div>
				    </div>
				</div>
  			</div>
  		</div>
  	</section><!--services-->
	<section class="about_com">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h2>WHY CHOOSE US</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 					
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="info_gra">
							<i class="fa fa-trophy" aria-hidden="true"></i>
							<h3>EXPERIENCE</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="info_gra">
							<i class="fa fa-object-group" aria-hidden="true"></i>
							<h3>SKILL</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="info_gra">
							<i class="fa fa-thumbs-up" aria-hidden="true"></i>
							<h3>QUALITY</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="info_gra">
							<i class="fa fa-trophy" aria-hidden="true"></i>
							<h3>EXPERIENCE</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="info_gra">
							<i class="fa fa-object-group" aria-hidden="true"></i>
							<h3>SKILL</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="info_gra">
							<i class="fa fa-thumbs-up" aria-hidden="true"></i>
							<h3>QUALITY</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--coundown-->
	<section class="about_com">
		<div class="container">
			<div class="row">
				<div class="patner">
					<h2>WE ARE TRUSTED BY</h2>
					<div class="slider mah">
						<div><img src="https://image.ibb.co/m5LaCb/Logo_1.jpg"></div>
						<div><img src="https://image.ibb.co/fZJTXb/Logo_2.jpg"></div>
						<div><img src="https://image.ibb.co/imF8Xb/Logo_3.jpg"></div>
						<div><img src="https://image.ibb.co/eRPP5w/Logo_4.jpg"></div>
						<div><img src="https://image.ibb.co/kOyvCb/Logo_5.jpg"></div>
						<div><img src="https://image.ibb.co/iCZrkw/Logo_6.jpg"></div>
						<div><img src="https://image.ibb.co/irxYyG/Logo_7.jpg"></div>
						<div><img src="https://image.ibb.co/mL4rkw/Logo_8.jpg"></div>
					</div>
				</div>
			</div>
		</div>
	</section><!--patner-->
	<footer>
		
	</footer>
	<a href="#" class="scrollup">Scroll</a>
	<div class="modal-shade"></div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js'></script>
<script  src="{%  static 'userapp/why_choose_EV_script.js' %}"></script>

    {% block script %}
    {% endblock %}
</body>
</html>
{% endblock body %}