
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.1/css/tachyons.css">




body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
  }
  
  .bg-green {
    background: #1BC98E;
  }
  
  .bg-red {
    background: #E64759;
  }
  
  .bg-purple {
    background: #9F86FF;
  }
  
  
  .divide:before {
    background: rgba(0, 0, 0, .1);
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 8px;
    width: 100%;
    z-index: -1;
  }