/* Cards */

.border-bottom-heading {
    border-bottom: 1px groove rgb(30, 42, 40);
}

.border-bottom-glow:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 0;
    /* This will center the border. */
    padding-top: 16px;
    /* This creates some space between the element and the border. */
    border-bottom: 4px solid #38a921;
    -webkit-box-shadow: 0 8px 6px -6px #38a921;
    -moz-box-shadow: 0 8px 6px -6px #38a921;
    box-shadow: 0 8px 6px -6px #38a921;
}

.border-bottom-noglow {
    border-bottom: 2px groove rgb(83, 82, 82);
    transition: all .2s;
}

.border-bottom-noglow:hover {
    text-shadow: #38a921 0px 0px 2px;
    border-bottom: 4px solid #38a921;
    -webkit-box-shadow: 0 8px 6px -6px #38a921;
    -moz-box-shadow: 0 8px 6px -6px #38a921;
    box-shadow: 0 8px 6px -6px #38a921;
}

.card {
    z-index: 1000;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner img:hover {
    transform: scale(1.5);
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}


svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.btn-danger:hover {
    transition: 1s ease-in-out;
    background: #dc3545;
}

@import url("https://fonts.googleapis.com/css?family=Rubik:500");
* {
    padding: 0;
    margin: 0;
}

.button {
    padding: 5px 5px;
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    background: #FC6E51;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
}

.button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    -webkit-transform-style: flat;
    transform-style: flat;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition: width .3s ease, height .3s ease;
}

.button:focus,
.button:hover {
    background: #fb512e;
}

.button:active:after {
    width: 200px;
    height: 200px;
}

.container
{
    font-size: 20px;
    opacity: 1.0;
    position:relative;
}
.card
{
  color: #2b2b2b;
  background:#f8f8f8d3;
}
  
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    margin-top: 3rem;
    font-weight: 300;
    font-size: 1.3rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
  }
  
  .form-signin .btn {
    font-size: 1rem;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
  }

.col,.card,.card-body
{
  margin-top: 2px;
  height: 90%;
}

.nav-tabs
{
    margin-left: 275px;

}