@import url('https://fonts.googleapis.com/css?family=Amaranth:400,400i,700|Artifika');

/*
font-family: 'Amaranth', sans-serif;
font-family: 'Artifika', serif;
*/

section.about_com {
    text-align: center;
}