{%block head%}
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
{%endblock head%}
{%block body%}
<body>
    <div class="card bg-dark text-white">
        <div class="card-body">
            <h2>
                Cost Estimates and Revenue Model for a Public Charging Station (PCS)
            </h2>
        </div>
      </div>
<br>
<h3>By EverythingEV</h3><br>
<h2>User Guidlines provided by the goverment to setup a charging station</h2>


    <img src="https://www.pluginindia.com/uploads/2/1/8/5/21854234/screenshot-2019-01-07-at-6-24-32-pm_orig.jpg">
<h2>how should be the charging port</h2>
<div class="card bg-secondary text-white">
    <div class="card-body">
        <p>Each charging station is required to have a minimum of three fast chargers: a CCS, a CHAdeMo and a Type-2 AC. While the former two will be required to operate on 50kW/ 200-1000V, the Type-2 would be 22kW/ 380-480V. Additionally, the charging station will also have two slow charge points - a Bharat DC-001 (15 kW/ 72-200V) and a Bharat AC-001 (10 kW/ 230V).

            ​A typical 50 kWh DCFC costs over Rs 1.5 million. Since present models of EVs sold in India cannot be charged above 1C rate and batteries are 11kWh to 25kWh capacity, investment in DCFC of over 25 kWh would yield unappealing returns, unless manufacturers roll out electric cars with batteries capable of fast charging with DC output in the range of 400-500V or higher. This will eventually increase the capacity utilization at PCS and enhance revenues for charging infrastructure providers, making investment in a public charging stations an attractive option.</p>
      

    </div>
  </div>
         <h2>Tabel 1 </h2>
    <h3>Cost Estimates for a Typical Public Charging Station (PCS):</h3>
    <div style="text-align:center"><img src="https://www.pluginindia.com/uploads/2/1/8/5/21854234/1058375085_orig.png"></div><br>
    <i>*The cost of swap station is considered to be borne by the swap station technology proprietor. PCS provides space for a swap station in return of margin on sale of electricity.
        **Land lease rental is assumed to be low as per Delhi EV policy guidelines on providing land at bare minimum lease rentals to charging infrastructure providers.</i>

    <h3>Revenue Projections from a Typical Public Charging Station (PCS)
    </h3>
    <p>
    </p>
    <div class="card bg-info text-white">
        <div class="card-body">
                        Revenue projection from the PCS business is calculated in the next table based on the following assumptions:<br><br>
            1. 20 hours of charging operations for 30 days/month<br>
            2. Capacity Utilization Factor (CUF) of PCS setup considered at 15% for Year-1, 25% for Year-2, 40% for Year-3, 65% for Year-4 and 85% for Year-5 (optimistic scenario)<br>
            3. Electricity tariff to the DISCOM is considered as pass through to consumer<br>
            4. A margin of Rs 2.5 on electricity tariff is considered in Scenario-A<br>
            5. A margin of Rs 3 in first & second year, Rs 2.5 in third & fourth year and Rs 2 from fifth year on wards is considered in Scenario-B<br>
            6. EVSE Management Software fee considered @10% of net margin on electricity tariff<br>

        </div>
      </div>
    
    
    <h2>Tabel 2</h2>
<div style="text-align: center;"><img src="https://www.pluginindia.com/uploads/2/1/8/5/21854234/0-1_orig.png"></div><br>
<div class="card bg-success text-white">
    <div class="card-body">
        <p>As may be observed from Table 1 and 2, for an initial investment of Rs 2.95 million to setup a PCS, the net cumulative return in 5 years is Rs 1.77 million under Scenario-A and Rs 1.53 million under Scenario-B. In both the cases there is little or no incentive for third parties to setup and operate PCS. Levying a margin more than 3 rupees will make the EV tariff at par with commercial electricity tariff.
            In the present scenario, PCS business is not viable for individuals/entities to invest.
            
            ​The government may fail to encourage third parties to set up public charging stations to accelerate electric mobility adoption. However, in case of Delhi, as per Delhi Electric Vehicle Policy, GNCTD will provide a capital subsidy covering cost of chargers and installation expenses. Considering the cost estimates in Table-1, if 100% cost of chargers is subsidized, the IRR on setting up a public charging station in Delhi makes it an attractive investment choice.</p>
           

    </div>
  </div>
 <h3>Table 3 - NPV & IRR of non subsidized PCS vs 100% charger cost subsidized:
    </h3><br>
    <div style="text-align: center;"><img src="https://www.pluginindia.com/uploads/2/1/8/5/21854234/0-2_orig.png"></div>
    <br>
    <div class="card bg-warning text-white">
        <div class="card-body">
            
            <p>Since business volumes in the initial years will be very low, attracting private investments for PCS network creation can prove to be a challenge in the country; unless capex cost is partly or fully subsidized.
                ​Also, it will be difficult to build EV charging network in India as a standalone business. Innovative business models to incentivize the public charging infrastructure (PCI) providers and government will be required.</p>
        
        </div>
      </div>
    </body>
{%endblock body%}