main {
    .chargePooling {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid #535353;
        border-radius: 10px;
        width: 800px;
        margin: 30px auto;
        padding: 30px;
        box-shadow: 0 0 5px #535353;

        h1 {
            text-align: center;
        }

        .location {
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 20px 0px;

            input {
                height: 35px;
                width: 180px;
                border-radius: 5px;
            }

            span {
                display: flex;
                align-items: center;
                margin-left: 5px;
                padding: 7.5px;
                background-color: white;
                border-radius: 5px;
                font-size: 1.6rem;

                i {
                    margin-left: 5px;
                }
            }
        }

        h3 {
            font-size: 2rem;
            color: #3a3a3a;
        }

        .chargers_table {
            .table {
                margin: 20px auto;
                width: 100%;
                border-collapse: collapse;
            }

            td,
            th {
                padding: 12px 15px;
                border: 1px solid #3a3a3a;
                text-align: center;
                font-size: 1.6rem;
            }

            th {
                background-color: #20AAAA;
                color: black;

            }

            tbody tr:nth-child(even) {
                background-color: #dadada;
            }
        }

    }

}

@media(max-width:800px) {
    main {
        .chargePooling {
            width: 90vw;
        }
    }
}

@media(max-width:600px) {
    main {
        .chargePooling {

            width: 90vw;

            .chargers_table {
                .table {
                    thead {
                        display: none;
                    }

                    tbody,
                    tr,
                    td {
                        display: block;
                        width: 100%;
                    }

                    tr {
                        margin-bottom: 15px;
                    }

                    td {
                        text-align: right;
                        padding-left: 50%;
                        position: relative;
                    }

                    td::before {
                        content: attr(data-label);
                        position: absolute;
                        left: 0;
                        width: 50%;
                        padding-left: 15px;
                        font-size: 1.6rem;
                        font-weight: 700;
                        text-align: left;
                    }
                }
            }
        }
    }
}