main {
    .salesBanner {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #d2f2ed;
        height: 300px;

        img {
            width: 500;
            height: 300px;
        }

        .text {
            h2 {
                font-size: 3rem;
                margin-bottom: 15px;
                width: 667px;
            }

            p {
                font-size: 1.8rem;
                margin-right: 20px;
                width: 600px;
            }

        }
    }

    .vehicle-types {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        width: 100%;
        margin: 50px auto;

        img {
            width: 230px;
            height: 280px;
            transition: .15s all ease-in-out;
        }

        img:hover {
            transform: scale(1.1);
        }
    }
}

@media(max-width:800px) {
    main {
        .salesBanner {
            .text {
                h2 {
                    font-size: 2rem;
                    width: 70vw;
                }

                p {
                    font-size: 1.5rem;
                    margin-right: 20px;
                    width: 60vw;
                }

            }
        }
    }
}

@media(max-width:675px) {
    main {
        .salesBanner {
            img {
                width: 90%;
                height: 90%;
            }

            .text {
                h2 {
                    font-size: 2rem;
                    width: 60vw;
                }

                p {
                    font-size: 1.5rem;
                    margin-right: 20px;
                    width: 50vw;
                }

            }
        }

    }
}

@media(max-width:600px) {
    main {
        .salesBanner {
            img {
                display: none;
            }

            .text {
                h2 {
                    width: 75vw;
                }

                p {
                    width: 75vw;
                }
            }
        }
    }
}